.shopping_cart {
  padding: 40px 0;
  .cart_item {
    padding: 16px 0;
    border-bottom: 1px solid $LightGray;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
    .item-info {
      flex: 1;
      display: flex;
      gap: 16px;
      @media (max-width: 768px) {
        width: 100%;
      }
      .img {
        width: 100px;
        height: 80px;
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: contain;
        }
      }
      .details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h6 {
          font-size: 14px;
          color: $black;
          font-weight: 600;
        }
        p {
          font-size: 14px;
          color: $black;
          span {
            font-size: 16px;
            font-weight: 600;
            color: $second;
          }
          i {
            color: $second;
          }
        }
      }
    }
    .price_count {
      flex: 1;
      display: flex;
      gap: 32px;
      height: 50px;
      @media (max-width: 768px) {
        width: 100%;
        gap: 12px;
      }
      @media screen and (max-width: 576px) {
        flex-direction: column;
      }
      .count {
        width: 60%;
        background: $white;
        display: flex;
        flex: 1;
        border-radius: 4px;
        overflow: hidden;
        @media screen and (max-width: 576px) {
          width: 100%;
        }
        input {
          flex: 3;
          width: 100%;
          color: $black;
          font-size: 20px;
          font-weight: 600;
          outline: none;
          background: $inputBg;
          text-align: center;
          border: 0;
          &::-webkit-inner-spin-button {
            display: none;
          }
          @media screen and (max-width: 576px) {
            height: 48px;
          }
        }
        button {
          @include clearInput();
          width: 70px;
          background: $LightGray;
          i {
            color: $black;
          }
        }
        button {
          flex: 1;
          width: initial;
        }
      }
      .total {
        width: 60%;
        display: flex;
        align-items: center;
        flex: 1;
        @media screen and (max-width: 576px) {
          width: 100%;
        }
        p {
          flex: 2;
          font-size: 14px;
          color: $main;
          font-weight: 600;
          span {
            color: $second;
          }
        }
        button {
          @include clearInput();
          width: 42px;
          height: 42px;
          background: $main;
          border-radius: 4px;
          i {
            color: $white;
          }
        }
      }
    }
  }
  .cart_total {
    padding: 24px 0;
    @include space-between();
    p {
      font-size: 16px;
      color: $main;
      font-weight: 600;
      span {
        font-size: 18px;
        color: $second;
      }
    }
    a {
      padding: 8px 48px;
      font-size: 16px;
      background: $main;
      color: $white;
      transition: $transition;
      border-radius: 4px;
      &:hover {
        background: $second;
      }
    }
  }
}

.checkout_section {
  padding: 40px 0;

  .products {
    background: $inputBg;
    padding: 16px;
    border-radius: 12px;
    .product {
      display: flex;
      border-bottom: 1px dashed $LightGray;
      gap: 16px;
      width: 100%;
      padding: 12px 0;
      &:last-child {
        border-bottom: 0;
      }
      .pro_img {
        min-width: 80px;
        width: 80px;
        height: 80px;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          mix-blend-mode: multiply;
        }
      }
      .info {
        display: flex;
        width: 100%;
        height: 80px;
        flex-direction: column;
        justify-content: center;
        h6 {
          font-size: 14px;
          color: $main;
          font-weight: 600;
        }
        .count_price {
          display: flex;
          p {
            font-size: 14px;
            white-space: nowrap;
            flex: 1;
            color: $main;
            font-weight: 600;
            span {
              color: $second;
            }
          }
        }
      }
    }
  }

  .checkout-details {
    background: $inputBg;
    padding: 16px;
    border-radius: 12px;
    width: 100%;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      li {
        border-bottom: 1px dashed $LightGray;
        padding: 12px 0;
        color: $black;
        font-size: 16px;
        @include space-between();
        &:last-child {
          border-bottom: 0;
        }
        .value {
          color: $main;
          font-weight: 600;
        }
      }
    }
  }

  textarea,
  input {
    border: 1px solid $LightGray !important;
  }

  .address-wrapper,
  .paymentMethod-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .radios {
      display: flex;
      padding: 8px 0;
      flex-wrap: wrap;
      gap: 12px;
      label {
        flex: 1;
        min-width: 150px;
        cursor: pointer;
        input {
          display: none;
          &:checked + span {
            border-color: $main;
            background: $main10;
          }
        }
        .address {
          width: 100%;
          border: 1px solid $LightGray;
          padding: 12px 24px;
          border-radius: 8px;
          background: $inputBg;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .coupon_form {
    width: 100%;
    display: flex;
    align-items: end;
    gap: 8px;
    .coupon_input {
      width: 100%;
    }
    button {
      white-space: nowrap;
      width: fit-content;
      padding: 0 32px;
    }
  }

  .coupon-card {
    width: 100%;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    gap: 16px;
    background: linear-gradient(238.2deg, $second 0%, $main 100%);
    padding: 24px;

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      position: relative;
      i {
        font-size: 24px;
      }
    }

    .discard_coupon {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 8px;
      left: 8px;
      background: $white;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      i {
        color: red;
      }
    }

    .details {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 24px;
      flex-wrap: wrap;
      position: relative;
    }
  }

  .cart_total {
    padding: 24px 0;
    width: 100%;
    display: flex;
    justify-content: end;
    button {
      width: fit-content;
      outline: none;
      border: none;
      padding: 8px 48px;
      font-size: 16px;
      background: $main;
      color: $white;
      transition: $transition;
      border-radius: 4px;
      &:hover {
        background: $second;
      }
    }
  }
}

.empty_cart {
  @include centerFlex();
  flex-direction: column;
  img {
    height: 300px;
    margin-bottom: 24px;
  }
  h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 12px;
  }
  a {
    color: $white;
    background: $main;
    border-radius: 100px;
    padding: 6px 16px;
  }
}
