.favorites-section {
  padding-left: 16px;
  padding-right: 16px;
  .content-wrapper {
    padding: 60px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
.fav-market-card {
  border-radius: 12px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: $white;
  border: 1px solid #fdfdfd;
  box-shadow: 0px 4px 30px 0px #00000026;
  .card-header {
    width: 100%;
    position: relative;
    border-radius: 12px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    position: relative;
    padding-bottom: 24px;
    min-height: 140px;
    aspect-ratio: 3 / 2;

    &.no-overlay {
      .cover-wrapper {
        box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.1490196078);
        &::after {
          content: none !important;
        }
      }
    }
    .cover-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      display: flex;
      border-radius: 12px 12px 0 0;
      display: flex;
      z-index: 2;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.61);
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 12px 12px 0 0;
        z-index: 4;
      }
      img {
        object-fit: cover;
        width: 100%;
      }
    }
    .card_header__content {
      padding: 12px;
      @include space-between();
      .logo-wrapper {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 0 4px 0px #00000040;
        display: flex;
        overflow: hidden;
        background-color: $white;
        z-index: 6;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
        }
      }
      .category_like {
        display: flex;
        align-items: center;
        gap: 8px;
        .category_wrapper {
          display: flex;
          gap: 0 24px;
          flex-wrap: wrap;
          position: relative;
          z-index: 6;
          .category {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            font-size: 14px;
            color: $white;
            position: relative;
            color: $textSecondaryColor;
            background: #eaeaea;
            padding: 4px 8px;
            border-radius: 12px;
            img {
              height: 24px;
              object-fit: contain;
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
            }
          }
        }
        .action-boxes {
          position: relative;
          display: flex;
          align-items: flex-start;
          gap: 8px;
          z-index: 6;
          .action-btn {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: #eaeaea;
            padding: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;
            i {
              font-size: 18px;
              transition: $transition;
            }
            &.favorite {
              i {
                color: $textSecondaryColor;
              }
              &.liked {
                i {
                  color: red;
                }
              }
            }
          }
        }
      }
    }
  }
  .card-details {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;

    .coupon-title {
      font-weight: 600;
      font-size: 20px;
      position: relative;
      width: 100%;
      text-align: center;
      text-wrap: balance;
    }
    .description {
      width: 100%;
      margin: 0;
      align-items: center;
      text-align: center;
      text-wrap: balance;
      font-size: 16px;
      color: $textSecondaryColor;
      position: relative;
    }
    .card-statistics {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 16px;
      position: relative;
      .statistic {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        font-size: 16px;
        position: relative;
        white-space: nowrap;
        i {
          font-size: 20px;
        }
        .value {
          color: $black;
          font-size: 16px;
          display: flex;
          align-items: center;
          flex-direction: column;
          position: relative;
          font-weight: 600;
        }
      }
    }
  }
}
.fav-ad-card {
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0px 4px 20px 0px #00000026;
  border: 1px solid #fdfdfd;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  .card-header {
    width: 100%;
    display: flex;
    gap: 16px;
    position: relative;
    background: #f6f6f6;
    border-radius: 12px;
    .image-wrapper {
      width: 120px;
      aspect-ratio: 3 / 2;
      border-radius: 12px;
      position: relative;
      display: flex;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card-content {
      flex: 1 0;
      padding: 16px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      position: relative;
      &.favorite {
        padding: 56px 0 16px;
      }
      .title {
        color: $black;
        font-size: 18px;
        margin: 0;
      }
      .sub-title {
        color: $textSecondaryColor;
        font-size: 16px;
        margin: 0;
        line-height: 1;
      }
      .categories-wrapper {
        width: 100%;
        display: flex;
        gap: 0 24px;
        flex-wrap: wrap;
        position: relative;
        .category {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 16px;
        }
      }
      .date {
        color: $black;
      }
    }
    .action-boxes {
      padding: 16px;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: flex-start;
      gap: 8px;
      .action-btn {
        width: 36px;
        height: 36px;
        border-radius: 12px;
        background: #eaeaea82;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        i {
          font-size: 18px;
        }
      }
    }
  }
  .card-statistics {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    position: relative;
    padding: 0 16px 16px;
    .statistic {
      flex: 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      font-size: 16px;
      position: relative;
      white-space: nowrap;
      &:not(:last-of-type) {
        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 100%;
          background-color: #ececec;
          top: 0;
          left: 0;
          border-radius: 2px;
        }
      }
      i {
        font-size: 20px;
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }
      .value {
        color: $black;
        font-size: 18px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        font-weight: 600;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}
.order-card {
  background-color: $white;
  border-radius: 12px;
  box-shadow: 0px 4px 20px 0px #00000026;
  border: 1px solid #fdfdfd;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  .card-header {
    width: 100%;
    display: flex;
    gap: 16px;
    position: relative;
    background: #f6f6f6;
    padding: 16px;
    .image-wrapper {
      width: 120px;
      border-radius: 12px 12px 0 0;
      position: relative;
      display: flex;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .heading {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      flex-wrap: wrap;
      position: relative;

      h3 {
        flex: 1 0;
        display: flex;
        align-items: center;
        position: relative;
      }

      .progress-status {
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 16px;
        background-color: linear-gradient(238.2deg, $second 0%, $main 100%);
        color: $white;
        border-radius: 12px;
        transition: $transition;
        min-width: 140px;

        &.pending {
          background-color: #0467d0;
        }
        &.accepted {
          background-color: #218838;
        }
        &.delivering {
          background-color: #d29f05;
        }
        &.completed {
          background-color: #1ae048;
        }
        &.canceled,
        &.user_canceled {
          background-color: #d9534f;
        }
      }
    }
    .card-content {
      flex: 1 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      position: relative;
      &.favorite {
        padding: 56px 0 16px;
      }
      .title {
        color: $black;
        font-size: 18px;
        margin: 0;
      }
      .sub-title {
        color: $textSecondaryColor;
        font-size: 16px;
        margin: 0;
        line-height: 1;
      }
      .categories-wrapper {
        width: 100%;
        display: flex;
        gap: 0 24px;
        flex-wrap: wrap;
        position: relative;
        .category {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 16px;
        }
      }
      .date {
        color: $black;
      }
    }
    .action-boxes {
      padding: 16px;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: flex-start;
      gap: 8px;
      .action-btn {
        width: 36px;
        height: 36px;
        border-radius: 12px;
        background: #eaeaea82;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        i {
          font-size: 18px;
        }
      }
    }
  }
  .progress {
    border-radius: 0 !important;
    background: var(--white-color) !important;
  }
  .new {
    background-color: #0467d0;
  }
  .accepted {
    background-color: #218838;
  }
  .in_delivery {
    background-color: #d29f05;
  }
  .completed {
    background-color: #1ae048;
  }
  .canceled,
  .user_canceled {
    background-color: #d9534f;
  }
  .card-statistics {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    position: relative;
    padding: 0 16px 16px;
    .statistic {
      flex: 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      font-size: 16px;
      position: relative;
      white-space: nowrap;
      &:not(:last-of-type) {
        &::after {
          content: "";
          position: absolute;
          width: 2px;
          height: 100%;
          background-color: #ececec;
          top: 0;
          left: 0;
          border-radius: 2px;
        }
      }
      i {
        font-size: 20px;
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }
      .value {
        color: $black;
        font-size: 18px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        font-weight: 600;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}
.action-btn {
  transition: $transition !important;
  &.favorite {
    i {
      transition: $transition !important;
      color: $textSecondaryColor;
    }
    &.liked {
      i {
        color: red;
      }
    }
  }
}
