.market-details-page {
  padding: 20px 0;
  .page-header {
    width: 100%;
    border-radius: 16px;
    aspect-ratio: 16 / 3;
    @media screen and (max-width: 768px) {
      aspect-ratio: 3 / 2;
    }
    .follow {
      &.following {
        background-color: #1fb91f !important;
        color: $white !important;
        border: 1px solid #b3e4b3;
      }
    }
    .cover-wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      z-index: 2;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #00000082;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 12px;
        z-index: 4;
      }
      img {
        object-fit: cover;
        width: 100%;
        border-radius: 12px;
        object-position: center;
      }
      .market {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .top-wrapper {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          gap: 16px;
          position: relative;
          z-index: 6;
          padding: 24px;
          @media screen and (max-width: 768px) {
            flex-direction: column;
            height: 100%;
            align-items: center;
            justify-content: center;
          }
          .logo-follow-wrapper {
            flex: 1 0;
            display: flex;
            align-items: center;
            gap: 24px;
            position: relative;
            @media screen and (max-width: 768px) {
              flex-direction: column;
              flex: 0;
              gap: 8px;
            }
            .logo-wrapper {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              box-shadow: 0px 0 4px 0px #00000040;
              display: flex;
              position: relative;
              overflow: hidden;
              background-color: $white;
              z-index: 6;
              img {
                object-fit: cover;
                width: 100%;
                height: 100%;
              }
            }
            h3 {
              color: $white;
            }
          }
          .btns-wrapper {
            display: flex;
            align-items: center;
            gap: 16px;
            position: relative;
            .follow {
              @include clearInput();
              display: flex;
              align-items: center;
              gap: 8px;
              background: $white;
              color: $black;
              padding: 4px 12px;
              border-radius: 12px;
            }
            .dropdown-toggle {
              border: none !important;
              &::after {
                content: none !important;
              }
            }
            .btn-box {
              background: $white;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 8px;
              cursor: pointer;
              &.follow {
                &.active {
                  i {
                    color: red;
                  }
                }
              }
              i {
                font-size: 20px;
                color: $black;
              }
            }
          }
        }
        .info-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 16px;
          position: relative;
          z-index: 6;
          padding: 16px;
          color: $white;
          h3 {
            margin: 0;
            font-size: 22px;
            font-weight: 600;
          }
          p {
            font-size: 18px;
            position: relative;
            text-wrap: balance;
          }
        }
      }
    }
    .dropdown {
      .dropdown-menu {
        margin-top: 8px;
        background: $white;
        border: 1px solid $inputBg;
        padding: 24px;
        @media (max-width: 576px) {
          padding: 16px 12px;
        }
        h5 {
          text-align: start;
          margin-bottom: 20px;
          font-weight: 600;
          font-size: 16px;
        }
        p {
          color: $textColor;
          margin: 12px 0;
        }
        .link {
          width: 100%;
          padding: 14px;
          background-color: $inputBg;
          @include space-between();
          gap: 12px;
          border-radius: 16px;
          position: relative;
          button {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            @include centerFlex();
            @include clearInput();
            i {
              color: $main;
            }
            &:hover {
              background: $main;
              i {
                color: #fff;
              }
            }
          }
          span {
            cursor: pointer;
            color: $textColor;
            font-size: 12px;
            position: relative;
            .alert {
              position: absolute;
              background: $inputBg;
              padding: 4px 8px;
              margin: 0;
              bottom: -42px;
              left: 50%;
              transform: translateX(-50%);
              transition: $transition;
              opacity: 0;
              &::after {
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                width: 16px;
                height: 10px;
                background: var(--input-bg);
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: -10px;
              }
            }
          }
        }
        .social {
          display: flex;
          gap: 20px;
          @media (max-width: 576px) {
            gap: 16px;
          }
          li {
            @include centerFlex();
            flex-direction: column;
            gap: 8px;
            font-size: 14px;
            white-space: nowrap;
            a {
              width: 48px;
              height: 48px;
              border-radius: 50%;
              background: $main10;
              @include centerFlex();
              i {
                color: $main;
              }
            }
          }
        }
      }
    }
  }

  .tabs-section {
    padding: 0 !important;
    position: relative;
    .nav-tabs {
      padding: 4px;
      border: 0;
      gap: 8px;
      margin-bottom: 16px;
      // background: #e9e9e9;
      border: 1px dashed #cecece !important;
      border-radius: 12px;

      @media screen and (max-width: 768px) {
        gap: 8px !important;
      }
      .nav-item {
        flex: 1;
        border-radius: 0 !important;
        button {
          background: #f3f3f3 !important;
          color: $black !important;
          font-size: 18px;
          border-radius: 12px !important;
          width: 100%;
          border: 0;
          padding: 16px;
          white-space: nowrap;
          color: $main;
          position: relative;
          &.active {
            background: $main !important;
          }
          @media screen and (max-width: 768px) {
            font-size: 14px;
            padding: 10px;
          }
        }
      }
    }
  }

  .content-wrapper {
    padding: 12px;
    display: flex;
    border-radius: 12px;
    background-color: #f9f9f9;
    flex-direction: column;
    gap: 24px;
    position: relative;
    .rates-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      position: relative;
    }
    .filter-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: relative;
      .filter-heading {
        font-size: 18px;
        font-weight: 600;
        position: relative;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 4px;
        img {
          height: 24px;
        }
      }
      .filter-list {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        position: relative;
        .filter-item {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          position: relative;
          padding: 8px 16px;
          border-radius: 12px;
          background: $inputBg;
          min-width: 130px;
          color: $black;
          font-size: 16px;
          cursor: pointer;
          &.active {
            color: $white;
            background: $main !important;
          }
        }
      }
    }
    .products-wrapper {
      width: 100%;
      .product_crad {
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid $LightGray !important;
        transition: $transition;
        border-radius: 8px;
        overflow: hidden;
        .product_image {
          width: 100%;
          position: relative;
          border-bottom: 1px solid $LightGray;
          img {
            object-fit: cover;
            // mix-blend-mode: multiply;
            width: 100%;
            aspect-ratio: 3 / 2;
            transition: $transition;
          }
          span {
            position: absolute;
            top: 8px;
            left: 8px;
            background: $second;
            color: $white;
            font-size: 12px;
            padding: 0 10px;
            border-radius: 4px;
            line-height: 24px;
          }
          button {
            position: absolute;
            top: 8px;
            right: 8px;
            border: none;
            outline: none;
            border-radius: 50%;
            background: $second;
            color: $white;
            width: 32px;
            height: 32px;
            @include centerFlex();
            font-size: 14px;
          }
        }
        .product_info {
          padding: 12px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          background-color: white;
          .pro_name {
            font-size: 16px;
            color: $main;
          }
          .trader {
            font-size: 16px;
            color: #5f5f5f;
            line-height: 16px;
            margin: 0;
          }
          .price_buy {
            @include space-between();
            margin-top: 8px;
            h6 {
              color: $main;
              font-weight: 600;
              font-size: 16px;
            }
            button {
              @include clearInput();
              i {
                color: $second;
                font-size: 16px;
              }
            }
          }
          .rate_sale {
            @include space-between();
            a {
              color: #5f5f5f;
              font-size: 12px;
              b {
                color: gold;
                font-weight: 400;
                font-size: 15px;
              }
            }
            p {
              font-size: 12px;
              .sale {
                color: $second;
              }
              .old_price {
                text-decoration: line-through;
              }
            }
            @media (max-width: 576px) {
              flex-direction: column;
              align-items: flex-start;
            }
          }
        }
        &:hover {
          box-shadow: $shadow;
          border-color: transparent;
        }
      }
    }
    .details-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: relative;
      .details-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: relative;
        .heading {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 16px;
          position: relative;
          h3 {
            font-weight: 600;
            font-size: 18px;
            position: relative;
            color: $black;
            margin: 0;
          }
          .statistic {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            font-size: 16px;
            position: relative;
            white-space: nowrap;
            i {
              font-size: 20px;
            }
            .value {
              color: $black;
              font-size: 18px;
              display: flex;
              align-items: center;
              flex-direction: column;
              position: relative;
              font-weight: 600;
              @media screen and (max-width: 768px) {
                font-size: 16px;
              }
            }
          }
        }
        p {
          width: 100%;
          text-wrap: balance;
          font-size: 16px;
          color: $textSecondaryColor;
          margin: 0;
        }
      }
      .details-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        .title {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 8px;

          position: relative;
          font-size: 18px;
          span {
            font-size: 18px;
            display: flex;
            align-items: center;
            gap: 8px;
          }
          .icon {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 8px;
            i {
              font-size: 16px;
              font-weight: 400;
              color: $main;
            }
          }
        }
        .sub-title {
          color: $textSecondaryColor;
          padding-right: 16px;
        }
        .menu {
          width: 100%;
          position: relative;
          display: flex;
          ul {
            width: 100%;
            padding-right: 16px;
            display: flex;
            flex-direction: column;
            position: relative;
            li {
              color: $textSecondaryColor;
              font-size: 16px;
              position: relative;
            }
          }
          &.checkout-details {
            width: 100%;
            padding: 16px !important;
            background-color: $white;
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            ul {
              width: 100%;
              padding: 16px;
              display: flex;
              flex-direction: column;
              gap: 24px;
              position: relative;
              li {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 16px;
                position: relative;
                &:not(:last-of-type) {
                  &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: #d9d9d9;
                    bottom: -12px;
                    left: 0;
                  }
                }
                .value {
                  white-space: nowrap;
                }
              }
            }
          }
        }
        .contact-wrapper {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 8px;
          // justify-content: center;
          position: relative;
          .contact-link {
            width: 40px;
            aspect-ratio: 1;
            // box-shadow: 0px 4px 30px 0px #00000040;
            padding: 0;
            border: 1px solid $main;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            color: $black;
            border-radius: 100px;
            font-size: 18px;
            position: relative;
            flex-wrap: wrap;
            transition: $transition;
            i {
              font-size: 20px;
              color: $main;
              transition: $transition;
            }
            img {
              width: 24px;
              object-fit: contain;
            }
            &:hover {
              background-color: $main;
              color: $white;
              transform: translateY(-4px);
              i {
                color: $white;
              }
            }
          }
        }
      }
    }
    .rate-form {
      background: $white;
      // box-shadow: $shadow;
      padding: 16px;
      border-radius: 16px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border: 1px dashed #cecece;
      &.replay-to {
        border-radius: 0 0 12px 12px;
        .submit-wrapper {
          justify-content: flex-end;
        }
      }
      .btn-rate-wrapper {
        width: 100%;
        padding: 8px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        @media screen and (max-width: 576px) {
          flex-direction: column-reverse;
        }
        .submit-wrapper {
          flex: 1 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        button {
          padding: 0 32px;
          width: fit-content;
        }
      }
    }
  }
  &.coupon-details-page {
    .content-wrapper {
      .notification-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 24px;
        position: relative;
        background-color: $inputBg;
        box-shadow: 0px 4px 4px 0px #00000040;
        padding: 24px;
        border-radius: 12px;
        .icon-box {
          i {
            font-size: 36px;
          }
        }
        p {
          color: $textSecondaryColor;
          font-size: 18px;
          position: relative;
        }
        .form-switch {
          input {
            height: 36px;
            width: 72px;
          }
        }
      }
      .coupon-card {
        padding-bottom: 30px;
        margin-bottom: 30px;
        .copy-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: -60px;
          right: 0;
        }
        .custom-btn {
          width: fit-content !important;
          height: 60px !important;
          min-width: 200px !important;
          max-width: 300px !important;
          padding: 8px 24px !important;
          cursor: pointer;
          i {
            font-size: 18px;
          }
        }
        .details {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 24px;
          position: relative;
          flex-wrap: wrap;
        }
      }
    }
  }
}
.order-details-page {
  .order-details-wrapper {
    padding: 40px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .order-section {
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: relative;
    }

    .status-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 36px;
      position: relative;
      .status-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 24px;
        position: relative;

        .custom-btn {
          width: unset !important;
          padding: 8px 24px !important;
        }
      }
      .status-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        gap: 16px;

        .image-wrapper {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          box-shadow: 0px 0px 4px 0px #00000040;
          overflow: hidden;
          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .info {
          display: flex;
          flex: 1 0;
          flex-direction: column;
          gap: 8px;
          position: relative;
          h5 {
            display: flex;
            align-items: center;
            gap: 16px;
            position: relative;
            font-weight: 600;

            .box {
              display: flex;
              align-items: center;
              gap: 8px;
              position: relative;
              font-size: 16px;
              font-weight: 400;
            }
          }
          .info-boxes {
            display: flex;
            align-items: center;
            gap: 24px;
            position: relative;
          }
        }
        .icon {
          box-shadow: 0px 4px 4px 0px #00000040;
          background: $white;
          width: 56px;
          height: 56px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          position: relative;
          i {
            font-size: 28px;
            &.active {
              color: #3fa218;
            }
            &.pending {
              color: #ecb01c;
            }
            &.accepted {
              color: #218838;
            }
            &.delivering {
              color: #d29f05;
            }
            &.completed {
              color: #1ae048;
            }
            &.canceled,
            &.user_canceled {
              color: #ff403a;
            }
          }
        }
      }
    }
    .status-progress {
      width: 100%;
      display: flex;
      justify-content: space-around;
      position: relative;
      margin-bottom: 40px;
      .progress-line {
        position: relative;
        flex: 1 0;
        height: 2px;
        background-color: #ececec;
        top: 50%;
        left: 0;
        border-radius: 2px;
        transform: translateY(-50%);
        transition: $transition;
        &.active {
          background-color: transparent !important;

          &.pending-accepted {
            background: linear-gradient(238.2deg, #ecb01c 0%, #218838 100%);
          }
          &.pending-canceled {
            background: linear-gradient(238.2deg, #ecb01c 0%, #ff403a 100%);
          }
          &.accepted-delivering {
            background: linear-gradient(238.2deg, #218838 0%, #d29f05 100%);
          }
          &.accepted-completed {
            background: linear-gradient(238.2deg, #218838 0%, #1ae048 100%);
          }
          &.delivering-completed {
            background: linear-gradient(238.2deg, #d29f05 0%, #1ae048 100%);
          }
        }
      }
      .progress-box {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
        .status {
          position: absolute;
          white-space: nowrap;
          top: calc(100% + 16px);
          left: 0;
        }
        .icon-box {
          box-shadow: 0px 4px 4px 0px #00000040;
          background: $white;
          width: 48px;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          position: relative;
          z-index: 4;
          i {
            font-size: 24px;
            color: #beb3b3;
            &.active {
              &.pending {
                color: #ecb01c;
              }
              &.accepted {
                color: #218838;
              }
              &.delivering {
                color: #d29f05;
              }
              &.completed {
                color: #1ae048;
              }
              &.canceled,
              &.user_canceled {
                color: #ff403a;
              }
            }
          }
        }
      }
    }
    .details-wrapper {
      width: 100%;
      display: flex;
      position: relative;
      flex-wrap: wrap;

      .order-section {
        background-color: $inputBg;
        border-radius: 12px;
        padding: 16px;
        position: relative;
      }

      .details-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        .title {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 16px;
          position: relative;
          font-size: 18px;
          .icon {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            padding: 8px;
            border-radius: 50%;
            i {
              font-size: 20px;
            }
          }
        }
        .sub-title {
          color: $textSecondaryColor;
          padding-right: 56px;
        }
        .menu {
          width: 100%;
          position: relative;
          display: flex;

          .order-product-item {
            display: flex;
            width: 100%;
            align-items: center;
            gap: 24px;

            &:not(:last-of-type) {
              padding-bottom: 24px;
              border-bottom: 1px solid $LightGray;
            }

            .image-wrapper {
              width: 68px;
              height: 68px;
              border-radius: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              border: 1px solid $LightGray;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          ol,
          ul {
            width: 100%;
            padding: 0;
            padding-right: 56px;
            display: flex;
            flex-direction: column;
            gap: 24px;
            &.no-indent {
              padding-right: 16px;
            }
            > li {
              &:not(:last-of-type) {
                &::after {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 1px;
                  background-color: #d9d9d9;
                  bottom: -12px;
                  left: 0;
                }
              }
            }
            li {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 8px;

              .header {
                flex: 1 0;
                display: flex;
                flex-direction: column;
                position: relative;
                font-size: 18px;
                color: $textSecondaryColor;
                h6 {
                  color: $black;
                  font-size: 18px;
                  font-weight: 600;
                }

                .description {
                  font-size: 16px;
                  font-weight: 400;
                  position: relative;
                  color: $textSecondaryColor;
                }
              }
              display: flex;
              align-items: center;
              gap: 8px;
              position: relative;
              .title {
                width: unset !important;
                color: $black;
              }
              .value {
                color: $textSecondaryColor;
              }
            }
          }
          &.checkout-details {
            width: 100%;
            padding: 16px !important;
            background-color: $white;
            border-radius: 12px;
            overflow: hidden;
            position: relative;
            ul {
              width: 100%;
              padding: 16px;
              display: flex;
              flex-direction: column;
              gap: 24px;
              position: relative;
              li {
                display: flex;
                align-items: center;
                flex-direction: row;
                gap: 16px;
                position: relative;
                &:not(:last-of-type) {
                  &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background-color: #d9d9d9;
                    bottom: -12px;
                    left: 0;
                  }
                }
                .value {
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
    .btn-wrapper {
      margin-top: 24px;
    }
  }
}
.rate-card {
  width: 100%;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  position: relative;
  border: 1px solid $LightGray;
  display: flex;
  flex-direction: column;
  gap: 16px;
  &.replay-to {
    width: 100%;
    padding: 16px;
    border-radius: 66px 66px 0 0;
    position: relative;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 26px;
  }
  ul {
    padding: 0 24px;
    .replay-card {
      border-style: dashed !important;

      .image-wrapper {
        width: 36px !important;
        height: 36px !important;
      }

      .name {
        font-size: 14px;
      }

      .time {
        font-size: 12px;
      }
    }
  }
  .close-btn {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 8px;
    position: absolute;
    top: 26px;
    left: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
    cursor: pointer;
    i {
      font-size: 18px;
      color: $textSecondaryColor;
    }
  }
  .info-wrapper {
    width: 100%;
    display: flex;
    gap: 16px;
    position: relative;
    align-items: flex-start;
    .info-rate-wrapper {
      flex: 1 0;
      display: flex;
      gap: 8px;
      position: relative;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .image-wrapper {
      width: 56px;
      height: 56px;
      display: flex;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .user-info {
      display: flex;
      flex-direction: column;
      position: relative;
      .name {
        color: $black;
        font-size: 16px;
        position: relative;
        margin: 0;
      }
      .time {
        display: flex;
        font-size: 14px;
        color: #00000099;
      }
    }
    .dropdown-toggle {
      background-color: transparent !important;
      border: none !important;
      position: relative;
      width: 24px;
      height: 24px;
      padding: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      i {
        color: $black !important;
        font-size: 20px;
      }
    }
    .dropdown-menu {
      padding: 0 !important;
      a,
      span {
        width: 100% !important;
        display: flex;
        padding: 8px 16px;
        color: $black !important;
        position: relative;
        transition: $transition;
        &:hover {
          color: $main !important;
        }
      }
    }
    .rate {
      display: flex;
      align-items: center;
      gap: 16px;
      position: relative;
    }
  }
  .comment {
    font-size: 16px;
    color: $black;
    margin: 0;
    padding-right: 72px;
  }
}
.coupons-page {
  .content-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 36px;
  }
  .filter-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    .filter-heading {
      font-size: 18px;
      font-weight: 600;
      position: relative;
      margin: 0;
    }
    .filter-list {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      flex-wrap: wrap;
      position: relative;
      .filter-item {
        flex: 1 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        position: relative;
        padding: 8px 16px;
        border-radius: 12px;
        background: #efebeb;
        color: #5f5f5f;
        font-size: 16px;
        cursor: pointer;
        transition: $transition;
        &.active {
          color: $white;
          background: linear-gradient(
            238.2deg,
            $second 0%,
            $main 100%
          ) !important;
        }
      }
    }
  }
}
