.download_app_section {
  background-image: url("/images/banner.png");
  background-size: cover;
}

.download_app {
  @include space-between();
  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 64px;
  }

  .img {
    display: flex;
    position: relative;

    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    h3 {
      color: $white;
      font-size: 42px;
    }
    h4 {
      color: $white;
    }
  }
  .links {
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      height: 42px;
    }
  }
}

footer {
  padding: 40px 0 40px;
  position: relative;
  background-color: $white;
  isolation: isolate;
  overflow: hidden;
  &::after {
    content: "";
    width: 0px;
    aspect-ratio: 1;
    border-radius: 100%;
    box-shadow: 0px 0px 500px 150px $main;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;
    opacity: 0.4;
  }
  &::before {
    content: "";
    width: 0px;
    aspect-ratio: 1;
    border-radius: 100%;
    box-shadow: 0px 0px 500px 150px $main;
    position: absolute;
    bottom: 0%;
    left: 0;
    z-index: -1;
    opacity: 0.4;
  }
  .logo {
    max-height: 60px;
    width: 100%;
    object-fit: contain;
    object-position: right;
    margin-bottom: 16px;
  }
  .info {
    font-size: 14px;
    color: $black;
  }
  .copywriting {
    display: flex;
    margin-top: 24px;
    padding-top: 24px;
    justify-content: center;
    @media screen and (max-width: 768px) {
      justify-content: space-around;
    }
    .hint {
      display: flex;
      align-items: center;
      gap: 4px;
      color: $black;
      a {
        font-weight: bold;
        &:hover {
          color: $main;
        }
        img {
          height: 24px;
          aspect-ratio: 1;
          object-fit: contain;
        }
      }
    }
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    a {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $black;
      &:hover {
        color: $main;
      }
      .icon {
        transition: $transition;
        padding: 6px;
        border-radius: 100px;
        width: 28px;
        aspect-ratio: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: $transition;
        }
      }
      &:hover {
        margin-left: 8px;
      }
    }
  }
  .group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .title {
      font-weight: bold;
      display: flex;
      flex-direction: column;
      gap: 4px;
      &::after {
        content: "";
        height: 3px;
        width: 32px;
        border-radius: 4px;
        background: $main;
        background-size: 400%;
        animation: animateBg 8s linear infinite;
      }
    }
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      flex-wrap: wrap;
      gap: 8px;
      li {
        display: flex;
        align-items: baseline;
        gap: 8px;
        position: relative;
        min-width: 150px;
        img {
          width: 20px;
          aspect-ratio: 1;
          object-fit: contain;
          object-position: center;
          transition: $transition;
        }
        &::before {
          content: "";
          height: 2px;
          width: 4px;
          transition: $transition;
          border-radius: 4px;
          background: $main;
        }
        a {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $black;
          &:hover {
            color: $main;
          }
        }
      }
    }
  }
}
