.download_app_section {
  background-image: url("/public/images/banner.png");
  background-size: cover;
}

.download_app {
  @include space-between();
  @media screen and (max-width: 576px) {
    flex-direction: column;
    gap: 64px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    h3 {
      color: $white;
      font-size: 42px;
    }
    h4 {
      color: $white;
    }
  }
  .links {
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      height: 42px;
    }
  }
}

footer {
  padding: 40px 0 0;
  background: $blackBg;

  .footer_about {
    @include centerFlex();
    flex-direction: column;
    gap: 24px;
    .logo img {
      height: 62px;
      filter: brightness(0) invert(1);
    }
    .links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 24px;
      padding: 18px 0 0;
      @media screen and (max-width: 576px) {
        gap: 12px;
      }
      a {
        color: $white;
        transition: $transition;
        &:hover {
          color: $main;
        }
      }
    }
  }

  .copyrights {
    padding: 24px 0;
    border-top: 1px solid $border;
    @include space-between();
    @media screen and (max-width: 576px) {
      flex-direction: column-reverse;
      gap: 12px;
    }
    p {
      margin: 0;
      color: $white;
      a {
        color: $main;
      }
    }
    .social_media {
      display: flex;
      align-items: center;
      gap: 8px;
      a {
        width: 36px;
        height: 36px;
        border: 1px solid $border;
        border-radius: 50%;
        @include centerFlex();
        color: $white;
        font-size: 14px;
        transition: $transition;
        &:hover {
          background: $second;
          border-color: transparent !important;
          color: $white;
          transform: translateY(-2px);
        }
      }
    }
  }
}
