.hero-section {
  padding: 40px 0 0;
  .swiper_adds {
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 16px;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      aspect-ratio: 3 / 2;
    }
    .slide {
      width: 100%;
      aspect-ratio: 2 / 1;
      position: relative;
      @media screen and (max-width: 768px) {
        aspect-ratio: 3 / 2;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(208deg, #00000020, #000000);
        padding: 40px 24px;
        display: flex;
        justify-content: flex-end;
        transition: 0.5s linear;
        flex-direction: column;
        h4 {
          font-size: 28px;
          color: $white;
          line-height: 46px;
          margin-bottom: 1rem;
          @media (max-width: 576px) {
            font-size: 18px;
            line-height: 32px;
          }
        }
        p {
          color: $white;
          font-size: 12px;
          line-height: 22px;
          font-weight: 100;
          margin-bottom: 0;
        }
        h5 {
          color: $white;
          margin-bottom: 8px;
          @media (max-width: 576px) {
            font-size: 16px;
          }
        }
        a {
          background: $second;
          color: $white;
          padding: 6px 24px;
          width: fit-content;
          margin-top: 16px;
          font-size: 14px;
          border-radius: 8px;
        }
      }
    }
    .swiper-slide.swiper-slide-active {
      .layer h4 {
        animation: fadeInUp 1s 0.3s both;
      }
      .layer p {
        animation: fadeInUp 1s 0.6s both;
      }
      .layer a {
        animation: fadeInUp 1s 0.9s both;
      }
    }
  }

  .categories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 8px;
    .category {
      padding: 24px;
      border-radius: 16px;
      display: flex;
      gap: 8px;
      flex: 1;
      min-width: 130px;
      justify-content: space-between;
      flex-direction: column;
      @media screen and (max-width: 576px) {
        min-width: 150px;
      }
      h2 {
        color: $black;
        font-size: 16px;
      }
      .img {
        @include centerFlex();
        img {
          height: 80px;
          @media screen and (max-width: 576px) {
            height: 80px;
          }
        }
      }
    }
  }
}

.categories_section {
  padding: 40px 0;
  transition: $transition;
  .row {
    @media screen and (min-width: 768px) {
      margin: 0 -16px;
    }
  }
  .category {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 16px;
    position: relative;
    background: $white;
    height: 100%;
    transition: $transition;
    .text {
      flex: 1;
      display: flex;
      gap: 8px;
      flex-direction: column;
      h5 {
        color: $black;
        font-size: 16px;
      }
    }
    .icon {
      img {
        height: 60px;
        object-fit: contain;
      }
    }
    &::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 2px;
      left: 2px;
      border-radius: 16px;
      z-index: -1;
      border: 1px solid $black;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      transition: $transition;
    }
    &:hover {
      border: 1px solid $black;
      &::after {
        opacity: 1;
        visibility: visible;
        top: 8px;
        left: 8px;
      }
    }
  }
}

.slideItems,
.popular {
  padding: 60px 0;
  .swiper-wrapper {
    padding-bottom: 20px;
  }
}

.popular {
  background-color: $blackBg;
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    .time,
    .location {
      color: #aaa !important;
    }
    .topHead {
      flex: 1;
      min-width: 250px;
      flex-direction: column;
      .sectionTitle {
        .subtitle {
          color: $main;
        }
        .title {
          font-size: 42px;
          color: $white;
          line-height: 1.35;
          @media screen and (max-width: 768px) {
            font-size: 30px;
          }
        }
      }
    }
    .swiper {
      min-width: 300px;
      flex: 4;
    }
    .swiperControl .swiperBtns .swiper-button-next,
    .swiperControl .swiperBtns .swiper-button-prev {
      &::after {
        filter: brightness(0) invert(1);
      }
    }
  }
  .item {
    background: #1f1f1f;
    border-color: $border;
    .itemInfo .itemBottom {
      border-color: $border;
      .price {
        color: $white;
      }
    }
    .itemInfo .title {
      color: $white;
    }
    .itemInfo .description {
      color: $inputHint;
    }
  }
}

.sliders {
  .slider_wrap {
    padding: 60px 0;
    &:nth-child(even) {
      background-color: $inputBg;
    }
  }
}

.similar_ads {
  padding-bottom: 60px;
}
