.videos {
  padding: 20px 16px;
  height: calc(100vh - 80px);
  @media screen and (max-width: 768px) {
    padding: 0;
  }
  .videos_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: min(100%, 500px);
    height: 100%;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 12px;
    @media screen and (max-width: 768px) {
      border-radius: 0;
    }
    .video {
      position: relative;
      transition-property: margin, width, padding;
      transition-duration: 5s;
      transition-timing-function: ease-in-out;
      overflow: hidden clip;
      scroll-snap-stop: always;
      scroll-snap-align: start center;
      width: 100%;
      height: 100%;
      background: $black;
      min-height: calc(100vh - 120px);
      @include centerFlex();
      @media screen and (max-width: 768px) {
        min-height: calc(100vh - 80px);
      }
      video {
        width: 100%;
      }
      .video_utils {
        position: absolute;
        right: 0;
        bottom: 60px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .user {
          width: 60px;
          height: 60px;
          margin-bottom: 24px;
          position: relative;
          img {
            background: $inputBg;
            border-radius: 50%;
            border: 2px solid $white;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .follow {
            position: absolute;
            bottom: -10px;
            left: 19px;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: $second;
            color: $white;
            border: 0;
            outline: none;
            font-size: 12px;
          }
        }
        .actions {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          button {
            @include clearInput();
            i {
              color: $white;
              font-weight: 600;
              font-size: 26px;
              filter: drop-shadow(-1px 2px 3px #868686);
            }
            &.active {
              i {
                color: red;
              }
            }
          }
          span {
            color: $white;
            filter: drop-shadow(-1px 2px 3px #868686);
          }
        }
      }
      .adName {
        position: absolute;
        bottom: 20px;
        padding: 0 20px;
        right: 0;
        width: 100%;
        @include space-between();
        h6 {
          font-size: 14px;
          color: $white;
        }
        .link {
          padding: 4px 12px;
          outline: none;
          border: none;
          background: $white;
          border-radius: 8px;
          color: $main;
        }
      }
      .comments,
      .share {
        z-index: 99;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: $white;
        border: 1px solid $LightGray;
        position: absolute;
        bottom: -60dvh;
        left: 0;
        height: 60dvh;
        border-radius: 16px 16px 0 0;
        padding: 16px;
        transition: .3s ease-in-out;
        gap: 16px;
        .header {
          @include space-between();
          button {
            @include clearInput();
          }
        }
        .comments_wrapper {
          flex: 1 1;
          gap: 16px;
          display: flex;
          overflow-y: scroll;
          scrollbar-width: 0;
          flex-direction: column;
          max-height: 286px;
          &::-webkit-scrollbar {
            display: none;
          }
          .no_comments {
            text-align: center;
            color: $textColor;
            font-size: 16px;
            line-height: 2.4;
            margin: auto 0;
          }
          .comment_wrap {
            display: flex;
            align-items: center;
            gap: 8px;
            .user_img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .user_details {
              display: flex;
              flex-direction: column;
              gap: 4px;
              h6 {
                font-size: 16px;
                line-height: 1.2;
              }
              p {
                font-size: 14px;
                color: $textColor;
                line-height: 1.2;
              }
              span {
                font-size: 12px;
                color: $inputHint;
                line-height: normal;
              }
            }
          }
        }
        &.show {
          bottom: 0;
        }
        .comment_form {
          padding: 16px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: $white;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 8px;
          a {
            font-size: 18px;
            color: red;
          }
          .user_img {
            width: 42px;
            height: 42px;
            overflow: hidden;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          input {
            flex: 1;
            background: $inputBg;
            border: 1px solid $LightGray;
            border: none;
            outline: none;
            padding: 0 12px;
            border-radius: 60px;
            height: 42px;
          }
          button {
            outline: none;
            border: none;
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background: $main;
            color: $white;
          }
        }
      }
      .share {
        height: auto;
        bottom: -100%;
        .body {
          p {
            color: $textColor;
            margin: 12px 0;
          }
          .link {
            width: 100%;
            padding: 14px;
            background-color: $inputBg;
            @include space-between();
            gap: 12px;
            border-radius: 16px;
            position: relative;
            button {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              @include centerFlex();
              @include clearInput();
              i {
                color: $main;
              }
              &:hover {
                background: $main;
                i {
                  color: #fff;
                }
              }
            }
            span {
              cursor: pointer;
              color: $textColor;
              font-size: 12px;
              position: relative;
              .alert {
                position: absolute;
                background: $inputBg;
                padding: 4px 8px;
                margin: 0;
                bottom: -42px;
                left: 50%;
                transform: translateX(-50%);
                transition: $transition;
                opacity: 0;
                &::after {
                  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                  width: 16px;
                  height: 10px;
                  background: var(--input-bg);
                  content: "";
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  top: -10px;
                }
              }
            }
          }
          .social {
            width: 100%;
            justify-content: center;
            display: flex;
            gap: 20px;
            @media (max-width: 576px) {
              gap: 16px;
            }
            li {
              @include centerFlex();
              flex-direction: column;
              gap: 8px;
              font-size: 14px;
              white-space: nowrap;
              a {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                background: $main10;
                @include centerFlex();
                i {
                  color: $main;
                }
              }
            }
          }
        }
      }
    }
  }
}
