@import "./config";

body {
  overflow-x: hidden;
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  @import "./header";

  main {
    min-height: calc(100vh - 130px);
    @import "./home";
    @import "./auth";
    @import "./profile";
    @import "./activities";
    @import "./favorites";
    @import "./features";
    @import "./ad-details";
    @import "./contact";
    @import "./cart";
    @import "./post";
    @import "./add_ad";
    @import "./form-ui";
    @import "./ads";

    .topHead {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      gap: 16px;
      row-gap: 4px;
      margin-bottom: 24px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: start;
      }
      .title {
        color: $black;
        font-size: 24px;
        line-height: 2;
      }
      .subtitle {
        color: $main;
      }
      a {
        color: $main;
      }
    }

    .tabs-section {
      padding: 36px 0;
      position: relative;

      .nav-tabs {
        border: 0;
        border-radius: 12px;
        gap: 24px;
        .nav-item {
          flex: 1;
          &:first-of-type {
            button {
              border-end-start-radius: 24px !important;
            }
          }
          &:last-of-type {
            button {
              border-end-end-radius: 24px !important;
            }
          }
          button {
            background: #dfdcdc;
            color: #5d5d5d !important;
            border-radius: 12px;
            width: 100%;
            border: 0;
            padding: 12px 16px;
            white-space: nowrap;
            color: $main;

            &.active {
              background: linear-gradient(238.2deg, $second 0%, $main 100%);
              color: $white !important;
            }
          }
        }
      }
    }

    textarea {
      background: #fff;
      border-radius: 12px;
      padding: 12px;
      font-size: 16px;
      width: 100%;
      min-height: 100px;
      resize: none;
      border: 1px solid #d9d9d9;

      &::placeholder {
        color: #ababab;
      }
    }

    .error-section {
      padding: 60px 16px;
      @include centerFlex();
      gap: 16px;
      flex-direction: column;
      align-items: center;
      img {
        height: 300px;
        margin-bottom: 24px;
        @media screen and (max-width: 576px) {
          height: 230px;
        }
      }
      h2 {
        margin: 0;
        text-align: center;
        font-size: 24px;
        color: $black;
        max-width: 400px;
        margin: 0 auto;
        @media screen and (max-width: 576px) {
          font-size: 20px;
        }
      }
      a {
        color: $main;
        border: 1px solid $main;
        position: relative;
        transition: $transition;
        @include centerFlex();
        padding: 8px 24px;
        transition: $transition;
        border-radius: 12px;
        gap: 8px;
        background: none;
        display: flex;
        align-items: center;
        font-size: 16px;
        position: relative;
        transition: $transition;
        i {
          font-size: 16px;
        }
        &:hover {
          color: $white;
          border-color: $second;
          background-color: $second;
        }
      }
    }

    .mapSearchInput {
      position: absolute;
      top: 8px;
      left: 8px;
      right: 8px;
      height: 54px !important;
      width: auto !important;
      border: 1px solid $LightGray;
      background: $white;
      padding: 12px 16px;
      border-radius: 12px;
      outline: none;
      color: $black;
      &::placeholder {
        color: $textColor;
      }
    }
  }
  @import "./footer";

  .customBtn {
    border: none;
    outline: none;
    background: none;
    isolation: isolate;
    padding: 12px 16px;
    width: 160px;
    margin: auto;
    border: 1px solid $main;
    color: $main;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: $transition;
    &::after {
      position: absolute;
      content: "";
      height: 1000px;
      width: 0;
      right: 50%;
      transition: $transition;
      background: $main;
      transform: rotate(-25deg);
      z-index: -1;
    }
    &:hover {
      color: #fff;
      border-color: $main;
      &::after {
        width: 110%;
        right: -10px;
      }
    }
  }

  .gradient-text {
    background: linear-gradient(238.2deg, $second 0%, $main 100%);
    background-clip: text;
    color: transparent !important;
    width: fit-content;
  }
  .gradient-icon {
    &::before {
      background: linear-gradient(238.2deg, $second 0%, $main 100%);
      background-clip: text;
      color: transparent !important;
      width: fit-content;
    }
  }
  .one-line-wrap {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .confirm-delete {
    p {
      color: $black;
      font-size: 16px;
      margin-bottom: 12px;
      span {
        color: red;
        font-weight: 600;
      }
    }
    .cancel-btn {
      border: 1px solid $black;
      color: $black;
      width: 100%;
      outline: none;
      background: none;
      padding: 8px;
      border-radius: 8px;
    }
    .delete-btn {
      width: 100%;
      padding: 8px;
      background: red;
      color: $white;
      border-radius: 8px;
      border: 0;
      outline: none;
    }
    &.other {
      .delete-btn {
        background: linear-gradient(238.2deg, $main 0%, $second 100%);
      }
    }
  }
  .section-head {
    width: 100%;
    padding: 16px 0;
    background: $inputBg;
    .container {
      position: relative;
      height: 100%;
    }
    .text-wrap {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        font-size: 14px;
        color: $inputHint;
      }
      h6 {
        color: $main;
      }
      h1 {
        color: $main;
        font-size: 24px;
        font-weight: bold;
        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
      p {
        font-size: 14px;
        color: $black;
      }
    }
    .img {
      width: 100%;
      img {
        max-height: 150px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
  .custom-btn {
    width: 100%;
    height: 56px;
    gap: 6px;
    border-radius: 12px;
    border: 1px solid $main !important;
    color: $main;
    background-color: transparent;
    @include centerFlex();
    @include clearInput();
    transition: $transition;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: inherit;
      background: linear-gradient(238.2deg, $second 0%, $main 100%) !important;
      transition: $transition;
      opacity: 0;
      z-index: 1;
    }
    span {
      z-index: 4;
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: inherit;
      font-weight: inherit;
      gap: 8px;
      z-index: 4;

      i {
        z-index: 4;
      }
    }
    &.filled {
      border: 1px solid transparent !important;
      color: $white !important;
      i {
        color: $white !important;
      }
      &::after {
        opacity: 1 !important;
      }
    }
    &:hover {
      color: $white !important;
      border: 1px solid transparent !important;
      background-color: transparent;
      &::after {
        opacity: 1;
      }
    }
    &.disabled {
      opacity: 0.7;
      pointer-events: none;
    }
    &.stroke {
      background: transparent !important;
      border: 1px solid $main !important;
      color: $main !important;
      &:hover {
        color: $white !important;
        border: 1px solid transparent !important;
      }
    }
  }
  .stars {
    display: flex;
    gap: 4px;
    li {
      color: $LightGray;
      &.star {
        color: $starColor;
      }
    }
  }
  .star-rating-service {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    label {
      cursor: pointer;
      color: $LightGray;
      &.active {
        color: $starColor;
      }
    }
    input {
      appearance: none;
      display: none;
    }
  }
  .search-section {
    padding: 48px 0;
    input[type="radio"] {
      width: 8px;
      cursor: pointer;
      appearance: none;
      position: relative;
      &::after {
        content: "";
        @include centerAbsolute();
        border-radius: 50%;
        width: 14px;
        height: 14px;
        border: 1px solid $inputHint;
      }
      &::before {
        content: "";
        @include centerAbsolute();
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background: $black;
        display: none;
      }
      &:checked {
        &::after {
          border-color: $black;
        }
        &::before {
          display: block;
        }
      }
    }
    .filter-wrap {
      overflow-y: scroll;
      overflow-x: hidden;
      top: 100px;
      background: $inputBg;
      padding: 16px;
      border-radius: 12px;
      .colse {
        display: none;
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 22px;
        .input-field {
          display: flex;
          flex-direction: column;
          label {
            color: $inputHint;
          }
          input,
          select {
            height: 50px;
            @include clearInput();
            border: 1px solid $inputHint;
          }
        }
        .css-13cymwt-control {
          background-color: transparent !important;
        }
        h6 {
          color: $black;
          font-size: 16px;
          margin-bottom: 8px;
          font-weight: 600;
        }
        .departments {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .deps {
            display: flex;
            flex-direction: column;
            gap: 16px;
            li {
              color: $black;
              width: 100%;
              position: relative;
              display: flex;
              flex-direction: column;
              gap: 10px;
              align-items: flex-start !important;
              input {
                width: 18px;
                height: 18px;
                border: 0;
                box-shadow: none !important;
              }
              @include space-between();
              .department-header {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: space-between;
                label {
                  flex: 1 0 0;
                  display: flex;
                  align-items: center;
                  gap: 10px;
                }
              }
              .accordion-button {
                @include clearInput();
                width: 12px;
                height: 12px;
                position: relative;
                .horizontal {
                  @include centerAbsolute();
                  width: 12px;
                  height: 1px;
                  background-color: $black;
                }
                .vertical {
                  transition: 0.2s ease-in-out;
                  height: 12px;
                  width: 1px;
                  background-color: $black;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(90deg);
                }
                &.collapsed {
                  .vertical {
                    height: 12px;
                    width: 1px;
                    background-color: $black;
                    @include centerAbsolute();
                  }
                }
              }
              .accordion-collapse {
                width: 100%;
                padding: 16px;
                position: relative;
                .accordion-body {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                }
              }
            }
          }
        }
        .rate-range {
          display: flex;
          flex-direction: column;
          gap: 16px;
          li {
            display: flex;
            align-items: center;
            gap: 16px;
            .stars {
              display: flex;
              gap: 4px;
              li {
                color: $LightGray;
                &.star {
                  color: $starColor;
                }
              }
            }
            span {
              color: $black;
            }
          }
        }
        .seller-level {
          display: flex;
          flex-direction: column;
          gap: 16px;
          ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
            li {
              display: flex;
              align-items: center;
              gap: 16px;
              color: $black;
            }
          }
        }
        .star-rating-service {
          display: flex;
          flex-direction: row-reverse;
          gap: 12px;
          label {
            cursor: pointer;
            color: $LightGray;
            &.active {
              color: gold;
            }
          }
          input {
            appearance: none;
            display: none;
          }
        }
      }
    }
    aside {
      @media (max-width: 991px) {
        display: none;
        .colse {
          margin-bottom: 32px;
          display: block !important;
          cursor: pointer;
          i {
            font-size: 24px;
            color: $black;
          }
        }
        &.side-menu {
          width: 100% !important;
          display: block;
          position: fixed;
          top: 80px;
          overflow-y: scroll;
          width: 100%;
          background: $white;
          left: -100%;
          transition: $transition;
          height: calc(100dvh - 80px);
          padding: 32px 24px;
        }
        &.active {
          left: 0;
        }
      }
    }
  }
  .rc-slider-mark-text {
    white-space: nowrap !important;
  }
  .empty-section {
    flex: 1 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    h2 {
      margin: 0;
      text-align: center;
      text-wrap: balance;
      font-size: 36px;
      font-weight: 800;
      color: #cecece;
    }
  }
  &.en {
    direction: ltr;
    font-family: "Poppins", sans-serif;
    header nav .container .left_utils .dropdown .dropdown-menu {
      transform: translate3d(0px, 50px, 0px) !important;
    }
  }
}
.terms-condition-alert {
  flex-wrap: wrap;
  align-items: center;
  &,
  a {
    white-space: nowrap;
  }
}
