@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Din";
  src: url("../webfonts/din-next-lt-w23-regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  line-height: 28px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Din", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 8px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input[type=tel] {
  direction: ltr !important;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

hr {
  margin: 0.5rem 0;
}

@keyframes loading {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120px);
  }
}
.tooltip {
  --bs-tooltip-bg: #242424;
}
.tooltip .tooltip-inner {
  font-size: 10px;
  padding: 8px 16px !important;
  line-height: 20px;
}

.stars {
  display: flex;
  gap: 4px;
}
.stars li {
  color: #d9d9d9;
}
.stars li.star {
  color: #ffd500;
}
.stars img {
  height: 16px !important;
}

input[type=checkbox] {
  width: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
}
input[type=checkbox]::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  content: "";
  font-family: "Font Awesome 6 pro";
  width: 18px;
  height: 18px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4381f8;
}
input[type=checkbox]:checked::after {
  content: "\f00c";
  background: #4381f8;
  color: #fff;
  border-color: #4381f8;
}

.Toastify__toast-body {
  direction: ltr !important;
}

.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}
.tableLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tableLoader .loader--style8 {
  width: 80px;
  height: 80px;
}
.tableLoader svg path,
.tableLoader svg rect {
  fill: #4381f8;
}

.loader {
  width: 100%;
  height: 100dvh;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.loader img {
  height: 70px;
}
.loader span {
  width: 120px;
  height: 2px;
  background: #fafafa;
  position: relative;
  overflow: hidden;
}
.loader span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  background: #4381f8;
  height: 100%;
  animation: loading 0.5s linear infinite alternate;
}

.modal-header {
  border-bottom: 0;
}
.modal-header .modal-title {
  font-size: 14px;
}
.modal-header .btn-close {
  box-shadow: none !important;
  background-image: url("../images/close.svg");
  margin-left: 0;
  margin-right: auto;
}

.form-switch .form-check-input {
  box-shadow: none !important;
}
.form-switch .form-check-input::after {
  content: none !important;
}
.form-switch .form-check-input:checked {
  background-color: #4381f8;
  border-color: #4381f8;
}

.form-control {
  box-shadow: none !important;
}

.loader {
  width: 100%;
  height: 100dvh;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.loader img {
  height: 100px;
}
.loader span {
  width: 120px;
  height: 2px;
  background: #fafafa;
  position: relative;
  overflow: hidden;
}
.loader span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  background: linear-gradient(238.2deg, #d785f1 0%, #4381f8 100%);
  height: 100%;
  animation: loading 0.5s linear infinite alternate;
}

body {
  overflow-x: hidden;
  direction: rtl;
  /*-------- header -------- */
}
body.en {
  direction: ltr;
}
body header {
  width: 100%;
  z-index: 9;
  display: flex;
  position: relative;
  flex-direction: column;
}
body header .header_bar {
  height: 50px;
  width: 100%;
  background: linear-gradient(238.2deg, #4381f8 0%, #d785f1 100%);
}
body header .header_bar .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .header_bar .container .social {
  width: 20%;
  height: 100%;
}
body header .header_bar .container .social ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  height: 100%;
}
body header .header_bar .container .social ul li {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transition: all 0.2s ease-in-out;
}
body header .header_bar .container .social ul li:hover {
  background: #fff;
}
body header .header_bar .container .social ul li:hover a {
  color: #4381f8;
}
body header .header_bar .container .social ul li a {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
body header .header_bar .container .language {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}
body header .header_bar .container .language button {
  border: none;
  background: none;
  outline: none;
  display: flex;
  gap: 4px;
  color: #fff;
  font-size: 14px;
  align-items: center;
}
body header .header_bar .container .language button i {
  font-size: 18px;
}
body header nav {
  display: flex;
  height: 80px;
  background: linear-gradient(238.2deg, #4381f8 0%, #d785f1 100%);
}
body header nav .container {
  display: flex;
}
body header nav .container .logo {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 2;
}
body header nav .container .logo img {
  height: 70px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}
body header nav .container .navigation_links {
  flex: 3;
  display: flex;
  height: 100%;
}
body header nav .container .navigation_links li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav .container .navigation_links li a {
  color: #fff;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
body header nav .container .navigation_links li a.active {
  color: #fff;
}
body header nav .container .navigation_links li a:hover {
  color: #fff;
}
@media (max-width: 992px) {
  body header nav .container .navigation_links {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50%;
    background: #fff;
    right: -50%;
    padding: 40px 0;
    transition: all 0.2s ease-in-out;
  }
  body header nav .container .navigation_links ul {
    flex-direction: column;
  }
  body header nav .container .navigation_links ul li {
    max-height: 60px;
  }
  body header nav .container .navigation_links.show {
    right: 0;
  }
}
body header nav .container .left_utils {
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
body header nav .container .left_utils button {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
body header nav .container .left_utils button:hover {
  color: #fff;
}
body header nav .container .left_utils a {
  color: #4381f8;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
body header nav .container .left_utils a:hover {
  color: #d785f1;
}
body header nav .container .left_utils .dropdown a {
  box-shadow: none !important;
}
body header nav .container .left_utils .dropdown .user {
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;
}
body header nav .container .left_utils .dropdown .user img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
  filter: brightness(0) invert(1);
}
body header nav .container .left_utils .dropdown .dropdown-menu {
  transform: translate3d(-70px, 50px, 0px) !important;
  padding: 0;
  overflow: hidden;
  border: 0;
}
body header nav .container .left_utils .dropdown .dropdown-menu a {
  font-size: 12px;
}
body header nav .container .left_utils .cart_open {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 10px;
}
body header nav .container .left_utils .cart_open i {
  font-size: 18px;
}
body header nav .container .left_utils .cart_open span {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: normal;
  background: #fff;
  color: #d785f1;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  height: 16px;
  width: 16px;
  left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav .container .left_utils h6 {
  font-size: 12px;
  color: #fff;
  line-height: 24px;
  margin: 0;
}
body header nav .container .left_utils .toggler {
  display: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}
body header nav .container .left_utils .toggler span {
  width: 25px;
  height: 2px;
  background: #4381f8;
  display: block;
  transition: all 0.25s ease-in-out;
}
body header nav .container .left_utils .toggler span:nth-child(1) {
  width: 25px;
}
body header nav .container .left_utils .toggler span:nth-child(2) {
  width: 19px;
}
body header nav .container .left_utils .toggler span:nth-child(3) {
  width: 13px;
}
@media (max-width: 992px) {
  body header nav .container .left_utils .toggler {
    display: flex;
  }
}
body header nav .container .left_utils .toggler.close span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 15% 90%;
}
body header nav .container .left_utils .toggler.close span:nth-child(2) {
  opacity: 0;
}
body header nav .container .left_utils .toggler.close span:nth-child(3) {
  transform-origin: 10% 10%;
  transform: rotate(-45deg);
  width: 25px;
}
@media (max-width: 768px) {
  body header nav .container .left_utils {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  body header nav .container .left_utils {
    gap: 12px;
  }
}
body main {
  padding: 40px 0 80px;
  position: relative;
}
body main:has(.section-head) {
  padding: 0 0 80px;
}
body main .auth-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
body main .auth-form .form-header-image {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
body main .auth-form .form-header-image img {
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
body main .auth-form .form-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
body main .auth-form .form-title .title {
  margin: 0;
  font-size: 32px;
  color: #333;
  font-weight: 600;
}
@media (max-width: 576px) {
  body main .auth-form .form-title .title {
    font-size: 24px;
  }
}
body main .auth-form form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body main .auth-form .input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  gap: 8px;
}
body main .auth-form .phone-group {
  width: 100%;
  position: relative;
  display: flex;
}
body main .auth-form .phone-group .PhoneInput {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: row-reverse;
}
body main .auth-form .phone-group .PhoneInput .PhoneInputCountryIcon {
  position: relative;
}
body main .auth-form .phone-group .PhoneInput .PhoneInputCountryIconImg {
  width: 20px;
  position: absolute;
  top: -36px;
  left: 10px;
}
body main .auth-form .phone-group .PhoneInput select {
  padding: 12px 6px 12px 30px !important;
  direction: ltr !important;
}
body main .auth-form .phone-group .PhoneInput input,
body main .auth-form .phone-group .PhoneInput select {
  flex: 1 0;
  color: #000;
  font-size: 14px;
  height: 56px;
  width: 100%;
  box-shadow: none !important;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  outline: none;
  padding: 8px 12px;
}
body main .auth-form .phone-group .phone-code {
  height: 54px;
  border-radius: 4px;
}
body main .auth-form .pass-group {
  display: flex;
}
body main .auth-form .pass-group span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 56px;
  border: 1px solid #d9d9d9;
  background: #fafafa;
  border-right: 0;
  border-radius: 12px 0 0 12px !important;
  color: #777777;
}
body main .auth-form .pass-group input {
  border-left: 0 !important;
  border-radius: 0 12px 12px 0 !important;
}
body main .auth-form .image-change-wrapper {
  border-radius: 16px;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}
body main .auth-form .image-change-wrapper .img-wrap {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #aaaaaa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .auth-form .image-change-wrapper .img-wrap img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .auth-form .image-change-wrapper .upload input {
  display: none;
}
body main .auth-form .image-change-wrapper .upload .plus {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #4381f8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body main .auth-form .image-change-wrapper .upload .plus i {
  font-size: 14px;
  color: #fff;
}
body main .auth-form .forgetpass {
  align-self: flex-end;
  color: #4381f8;
}
body main .auth-form .otp-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  direction: ltr !important;
}
@media (max-width: 576px) {
  body main .auth-form .otp-container {
    gap: 8px;
  }
}
body main .auth-form .otp-container .otp-input {
  border-radius: 12px;
  flex: 1;
  width: inherit;
  height: 80px !important;
  text-align: center;
  border: 1px solid #4381f8;
  background: rgba(67, 129, 248, 0.1019607843);
  font-size: 28px;
  font-weight: 600;
  color: #4381f8 !important;
  outline: none;
}
body main .auth-form .otp-container .otp-input::-webkit-inner-spin-button {
  display: none;
}
@media (max-width: 576px) {
  body main .auth-form .otp-container .otp-input {
    height: 60px !important;
  }
}
body main .auth-form .resend-code {
  width: 100%;
  display: flex;
  padding: 10px 0 0;
  justify-content: space-between;
}
body main .auth-form .resend-code .resend_link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #777777;
  gap: 6px;
  cursor: pointer;
}
body main .auth-form .resend-code .resend_link span {
  white-space: nowrap;
  color: #4381f8;
  cursor: pointer;
}
body main .auth-form .resend-code .resend_link.disabled {
  pointer-events: none;
}
body main .auth-form .resend-code .resend_link.disabled span {
  color: rgba(67, 129, 248, 0.6039215686);
  cursor: default;
}
body main .auth-form .resend-code .timer span {
  color: #777777;
}
body main .auth-form .noAccount {
  color: #777777;
}
body main .auth-form .noAccount span {
  color: #4381f8;
}
body main .auth-form .question {
  padding: 0 0 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .auth-form .question .quest {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
}
body main .auth-form .question .vendorInput {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  position: relative;
  cursor: pointer;
}
body main .auth-form .question .vendorInput::after {
  display: block;
  width: 48px;
  height: 24px;
  border-radius: 16px;
  content: "";
  background-color: #777777;
  transition: all 0.2s ease-in-out;
}
body main .auth-form .question .vendorInput::before {
  transition: all 0.2s ease-in-out;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
  content: "";
  background-color: #fff;
}
body main .auth-form .question .vendorInput:checked::after {
  background-color: #4381f8;
}
body main .auth-form .question .vendorInput:checked::before {
  right: initial;
  left: 4px;
}
body main .auth-form input {
  background: #fafafa;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  box-shadow: none !important;
  color: #231f20;
  color: #000;
  direction: rtl;
  font-size: 14px;
  height: 56px;
  outline: none;
  padding: 8px 12px;
  width: 100%;
}
body main .error-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body main .error-section img {
  height: 300px;
  margin-bottom: 24px;
}
body main .error-section h2 {
  margin: 0;
  text-align: center;
  text-wrap: balance;
  font-size: 48px;
  font-weight: 800;
  color: #cecece;
}
body main .error-section a {
  min-width: 200px;
  margin-top: 36px;
  color: #4381f8;
  border: 1px solid #4381f8 !important;
  position: relative;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
  border-radius: 12px;
  gap: 8px;
  background: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
body main .error-section a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: linear-gradient(238.2deg, #d785f1 0%, #4381f8 100%) !important;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  z-index: -1;
}
body main .error-section a i {
  font-size: 16px;
}
body main .error-section a:hover {
  color: #fff;
  border: 1px solid transparent !important;
  background-color: transparent;
}
body main .error-section a:hover::after {
  opacity: 1;
}
body main .activities-section .nav-tabs {
  padding: 12px 16px;
  border: 0;
  border-radius: 16px;
  gap: 16px;
}
body main .activities-section .nav-tabs .nav-item {
  flex: 1;
}
body main .activities-section .nav-tabs .nav-item:first-of-type button {
  border-end-start-radius: 24px !important;
}
body main .activities-section .nav-tabs .nav-item:last-of-type button {
  border-end-end-radius: 24px !important;
}
body main .activities-section .nav-tabs .nav-item button {
  background: #dfdcdc;
  color: #5d5d5d !important;
  border-radius: 12px;
  width: 100%;
  border: 0;
  padding: 12px 16px;
  white-space: nowrap;
  color: #4381f8;
}
body main .activities-section .nav-tabs .nav-item button.active {
  background: linear-gradient(238.2deg, #d785f1 0%, #4381f8 100%);
  color: #fff !important;
}
body main .activities-section .content-wrapper {
  padding: 40px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
body main .activities-section .content-wrapper .add-btn {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  outline: none;
  color: #4381f8;
  border: 1px solid #4381f8;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
body main .activities-section .content-wrapper .add-btn i {
  font-size: 16px;
}
body main .activities-section .content-wrapper .add-btn:hover {
  color: #fff;
  border: none;
}
body main .activities-section .content-wrapper .add-btn:hover::after {
  opacity: 1;
}
body main .activities-section .content-wrapper .add-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 12px;
  background: linear-gradient(238.2deg, #d785f1 0%, #4381f8 100%);
  transition: all 0.2s ease-in-out;
  opacity: 0;
  z-index: -1;
}
body main .activities-section .content-wrapper .activity-card {
  background-color: #fff;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-header {
  width: 100%;
  display: flex;
  gap: 16px;
  position: relative;
  background: #f6f6f6;
  border-radius: 12px;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-header .image-wrapper {
  width: 120px;
  border-radius: 12px;
  position: relative;
  display: flex;
  overflow: hidden;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-header .image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-header .card-content {
  flex: 1 0;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-header .card-content .title {
  color: #000;
  font-size: 18px;
  margin: 0;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-header .card-content .categories-wrapper {
  width: 100%;
  display: flex;
  gap: 0 24px;
  flex-wrap: wrap;
  position: relative;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-header .card-content .categories-wrapper .category {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-header .card-content .date {
  color: #000;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-header .action-boxes {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-header .action-boxes .action-btn {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background: rgba(234, 234, 234, 0.5098039216);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-header .action-boxes .action-btn i {
  font-size: 20px;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-statistics {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
  position: relative;
  padding: 0 16px 16px;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-statistics .statistic {
  flex: 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 16px;
  position: relative;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-statistics .statistic:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #ececec;
  top: 0;
  left: 0;
  border-radius: 2px;
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-statistics .statistic i {
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-statistics .statistic i {
    font-size: 20px;
  }
}
body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-statistics .statistic .value {
  color: #000;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  body main .activities-section .content-wrapper .activity-card.ad-mini-card .card-statistics .statistic .value {
    font-size: 16px;
  }
}
body main .activities-section .content-wrapper .activity-card.interest-mini-card .card-content {
  gap: 16px !important;
  padding: 16px !important;
}
body main .order-details-page .order-details-wrapper {
  padding: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body main .order-details-page .order-details-wrapper .status-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  position: relative;
}
body main .order-details-page .order-details-wrapper .status-wrapper .status-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 16px;
}
body main .order-details-page .order-details-wrapper .status-wrapper .status-header .info {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
body main .order-details-page .order-details-wrapper .status-wrapper .status-header .info .info-boxes {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}
body main .order-details-page .order-details-wrapper .status-wrapper .status-header .info .info-boxes .box {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
body main .order-details-page .order-details-wrapper .status-wrapper .status-header .icon {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background: #fff;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}
body main .order-details-page .order-details-wrapper .status-wrapper .status-header .icon i {
  font-size: 28px;
}
body main .order-details-page .order-details-wrapper .status-wrapper .status-header .icon i.active {
  color: #3fa218;
}
body main .order-details-page .order-details-wrapper .status-progress {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-bottom: 40px;
}
body main .order-details-page .order-details-wrapper .status-progress .progress-line {
  position: relative;
  flex: 1 0;
  height: 2px;
  background-color: #ececec;
  top: 50%;
  left: 0;
  border-radius: 2px;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}
body main .order-details-page .order-details-wrapper .status-progress .progress-line.active {
  background-color: transparent !important;
  background: linear-gradient(238.2deg, #d785f1 0%, #4381f8 100%);
}
body main .order-details-page .order-details-wrapper .status-progress .progress-box {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
body main .order-details-page .order-details-wrapper .status-progress .progress-box .status {
  position: absolute;
  white-space: nowrap;
  top: calc(100% + 16px);
}
body main .order-details-page .order-details-wrapper .status-progress .progress-box .icon-box {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background: #fff;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  z-index: 4;
}
body main .order-details-page .order-details-wrapper .status-progress .progress-box .icon-box i {
  font-size: 24px;
  color: #beb3b3;
}
body main .order-details-page .order-details-wrapper .status-progress .progress-box .icon-box i.active {
  color: #3fa218;
}
body main .order-details-page .order-details-wrapper .details-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  font-size: 18px;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .title .icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .title .icon i {
  font-size: 28px;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .sub-title {
  color: #6B6464;
  padding-right: 56px;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu {
  width: 100%;
  position: relative;
  display: flex;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu ol {
  width: 100%;
  padding: 0;
  padding-right: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu ol > li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  bottom: -12px;
  left: 0;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu ol li {
  position: relative;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu ol li .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  position: relative;
  font-size: 18px;
  color: #6B6464;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu ol li .header h6 {
  font-size: 18px;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu ol li ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu ol li ul li .title {
  width: unset !important;
  color: #000;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu ol li ul li .value {
  color: #6B6464;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu.checkout-details {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1490196078);
  width: 100%;
  padding: 16px !important;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu.checkout-details ul {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu.checkout-details ul li {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  position: relative;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu.checkout-details ul li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  bottom: -12px;
  left: 0;
}
body main .order-details-page .order-details-wrapper .details-wrapper .details-box .menu.checkout-details ul li .value {
  white-space: nowrap;
}
body main .order-details-page .order-details-wrapper .btn-wrapper {
  margin-top: 24px;
}
body .gradient-text {
  background: linear-gradient(238.2deg, #d785f1 0%, #4381f8 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent !important;
  width: -moz-fit-content;
  width: fit-content;
}
body .gradient-icon::before {
  background: linear-gradient(238.2deg, #d785f1 0%, #4381f8 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent !important;
  width: -moz-fit-content;
  width: fit-content;
}
body .one-line-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
body .custom-btn {
  width: 100%;
  height: 56px;
  gap: 6px;
  border-radius: 12px;
  border: 1px solid #4381f8 !important;
  color: #4381f8;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  position: relative;
}
body .custom-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  background: linear-gradient(238.2deg, #d785f1 0%, #4381f8 100%) !important;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  z-index: -1;
}
body .custom-btn:hover {
  color: #fff;
  border: 1px solid transparent !important;
  background-color: transparent;
}
body .custom-btn:hover::after {
  opacity: 1;
}
body .custom-btn.disabled {
  opacity: 0.7;
  pointer-events: none;
}
body .custom-btn.stroke {
  background: transparent !important;
  border: 1px solid #4381f8 !important;
  color: #4381f8 !important;
}
body .confirm-delete p {
  color: #000;
  font-size: 16px;
  margin-bottom: 12px;
}
body .confirm-delete p span {
  color: red;
  font-weight: 600;
}
body .confirm-delete .cancel-btn {
  border: 1px solid #000;
  color: #000;
  width: 100%;
  outline: none;
  background: none;
  padding: 8px;
  border-radius: 8px;
}
body .confirm-delete .delete-btn {
  width: 100%;
  padding: 8px;
  background: red;
  color: #fff;
  border-radius: 8px;
  border: 0;
  outline: none;
}
body .confirm-delete.other .delete-btn {
  background: linear-gradient(238.2deg, #4381f8 0%, #d785f1 100%);
}
body .section-head {
  width: 100%;
  background: #f4f4f4;
  padding: 16px 0;
}
body .section-head .container {
  position: relative;
  height: 100%;
}
body .section-head .text-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
body .section-head .text-wrap a {
  font-size: 14px;
  color: #aaaaaa;
}
body .section-head .text-wrap h1 {
  color: #4381f8;
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 768px) {
  body .section-head .text-wrap h1 {
    font-size: 18px;
  }
}
body .section-head .text-wrap p {
  font-size: 14px;
  color: #000;
}
body .section-head .img {
  width: 100%;
}
body .section-head .img img {
  max-height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

.terms-condition-alert {
  flex-wrap: wrap;
  align-items: center;
}
.terms-condition-alert,
.terms-condition-alert a {
  white-space: nowrap;
}/*# sourceMappingURL=style.css.map */