@import "./config";

body {
  overflow-x: hidden;
  direction: rtl;
  font-family: "Baloo Bhaijaan 2", sans-serif;
  @import "./header";
  @import "./form-ui";

  main {
    min-height: calc(100vh - 369px);
    display: flex;
    flex-direction: column;
    width: 100%;
    @import "./home";
    @import "./videos";
    @import "./auth";
    @import "./profile";
    @import "./activities";
    @import "./favorites";
    @import "./features";
    @import "./ad-details";
    @import "./contact";
    @import "./cart";
    @import "./post";
    @import "./add_ad";
    @import "./ads";
    @import "./chat";
    @import "./commission";

    button,
    a {
      transition: $transition;
    }
    .about {
      padding: 60px 0;
    }

    .topHead {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 16px;
      row-gap: 4px;
      margin-bottom: 24px;
      @media screen and (max-width: 768px) {
        align-items: start;
      }
      .title {
        color: $black;
        font-size: 24px;
        line-height: 2;
      }
      .subtitle {
        color: $main;
      }
      a {
        color: $main;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .tabs-section {
      padding: 36px 0;
      position: relative;
      .nav-tabs {
        border: 0;
        border-radius: 12px;
        gap: 16px;
        .nav-item {
          flex: 1;
          button {
            background: #dfdcdc;
            color: #5d5d5d !important;
            border-radius: 12px;
            width: 100%;
            border: 0;
            padding: 12px 16px;
            white-space: nowrap;
            color: $main;
            &.active {
              background: $main;
              color: $white !important;
            }
          }
        }
      }
    }

    .error-section {
      padding: 60px 16px;
      @include centerFlex();
      gap: 16px;
      flex-direction: column;
      align-items: center;
      img {
        height: 300px;
        margin-bottom: 24px;
        @media screen and (max-width: 576px) {
          height: 230px;
        }
      }
      h2 {
        margin: 0;
        text-align: center;
        font-size: 24px;
        color: $black;
        line-height: 1.7;
        max-width: 600px;
        margin: 0 auto;
        @media screen and (max-width: 576px) {
          font-size: 20px;
        }
      }
      a {
        color: $main;
        border: 1px solid $main;
        position: relative;
        transition: $transition;
        @include centerFlex();
        padding: 8px 24px;
        transition: $transition;
        border-radius: 12px;
        gap: 8px;
        background: none;
        display: flex;
        align-items: center;
        font-size: 16px;
        position: relative;
        transition: $transition;
        i {
          font-size: 16px;
        }
        &:hover {
          color: $white;
          border-color: $second;
          background-color: $second;
        }
      }
    }
  }

  @import "./footer";

  .customBtn {
    border: none;
    outline: none;
    background: none;
    isolation: isolate;
    padding: 12px 16px;
    width: 160px;
    margin: auto;
    border: 1px solid $main;
    color: $main;
    border-radius: 12px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: $transition;
    &::after {
      position: absolute;
      content: "";
      height: 1000px;
      width: 0;
      right: 50%;
      transition: $transition;
      background: $main;
      transform: rotate(-25deg);
      z-index: -1;
    }
    &:hover {
      color: #fff;
      border-color: $main;
      &::after {
        width: 110%;
        right: -10px;
      }
    }
  }

  .confirm-delete {
    p {
      color: $black;
      font-size: 16px;
      margin-bottom: 12px;
      text-align: center;
      span {
        color: red;
        font-weight: 600;
      }
    }
    .cancel-btn {
      border: 1px solid $black;
      color: $black;
      width: 100%;
      outline: none;
      background: none;
      padding: 8px;
      border-radius: 8px;
    }
    .delete-btn {
      width: 100%;
      padding: 8px;
      background: red;
      color: $white;
      border-radius: 8px;
      border: 0;
      outline: none;
    }
    &.other {
      .delete-btn {
        background: linear-gradient(238.2deg, $main 0%, $second 100%);
      }
    }
  }

  .mapSearchInput {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    height: 54px !important;
    width: auto !important;
    border: 1px solid $LightGray;
    background: $white;
    padding: 12px 16px;
    border-radius: 12px;
    outline: none;
    color: $black;
    &::placeholder {
      color: $textColor;
    }
  }

  .pac-container {
    z-index: 99999;
  }

  .section-head {
    width: 100%;
    padding: 16px 0;
    background: $inputBg;
    .container {
      position: relative;
      height: 100%;
    }
    .text-wrap {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        font-size: 14px;
        color: $inputHint;
      }
      h6 {
        color: $main;
      }
      h1 {
        color: $main;
        font-size: 24px;
        font-weight: bold;
        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
      p {
        font-size: 14px;
        color: $black;
      }
    }
    .img {
      width: 100%;
      img {
        max-height: 150px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .custom-btn {
    width: 100%;
    height: 52px;
    gap: 6px;
    border-radius: 12px;
    border: 1px solid $main !important;
    color: $main;
    background-color: transparent;
    @include centerFlex();
    @include clearInput();
    transition: $transition;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: inherit;
      background: $main !important;
      transition: $transition;
      opacity: 0;
      z-index: 1;
    }
    span {
      z-index: 4;
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: inherit;
      font-weight: inherit;
      gap: 8px;
      z-index: 4;

      i {
        z-index: 4;
      }
    }
    &.filled {
      border: 1px solid transparent !important;
      color: $white !important;
      i {
        color: $white !important;
      }
      &::after {
        opacity: 1 !important;
      }
    }
    &:hover {
      color: $white !important;
      border: 1px solid transparent !important;
      background-color: transparent;
      &::after {
        opacity: 1;
      }
    }
    &.disabled {
      opacity: 0.7;
      pointer-events: none;
    }
    &.stroke {
      background: transparent !important;
      border: 1px solid $main !important;
      color: $main !important;
      &:hover {
        color: $white !important;
        border: 1px solid transparent !important;
      }
    }
  }

  .stars {
    display: flex;
    gap: 4px;
    li {
      color: $LightGray;
      &.star {
        color: $starColor;
      }
    }
  }

  .star-rating-service {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
    label {
      cursor: pointer;
      color: $LightGray;
      &.active {
        color: $starColor;
      }
    }
    input {
      appearance: none;
      display: none;
    }
  }

  .search-section {
    padding: 48px 0;
    input[type="radio"] {
      width: 8px;
      cursor: pointer;
      appearance: none;
      position: relative;
      &::after {
        content: "";
        @include centerAbsolute();
        border-radius: 50%;
        width: 14px;
        height: 14px;
        border: 1px solid $inputHint;
      }
      &::before {
        content: "";
        @include centerAbsolute();
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background: $black;
        display: none;
      }
      &:checked {
        &::after {
          border-color: $black;
        }
        &::before {
          display: block;
        }
      }
    }
    .filter-wrap {
      overflow-y: scroll;
      overflow-x: hidden;
      top: 100px;
      background: $inputBg;
      padding: 16px;
      border-radius: 12px;
      .colse {
        display: none;
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 22px;
        .input-field {
          display: flex;
          flex-direction: column;
          > label {
            color: $inputHint;
          }
          input,
          select {
            height: 50px;
            @include clearInput();
            border: 1px solid $inputHint;
          }
        }
        .css-13cymwt-control {
          background-color: transparent !important;
        }
        h6 {
          color: $black;
          font-size: 16px;
          margin-bottom: 8px;
          font-weight: 600;
        }
        .departments {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .deps {
            display: flex;
            flex-direction: column;
            gap: 16px;
            li {
              color: $black;
              width: 100%;
              position: relative;
              display: flex;
              flex-direction: column;
              gap: 10px;
              align-items: flex-start !important;
              border-bottom: 1px solid #cacaca;
              padding-bottom: 8px;
              input {
                width: 18px;
                height: 18px;
                border: 0;
                box-shadow: none !important;
              }
              @include space-between();
              .department-header {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: space-between;
                label {
                  flex: 1 0 0;
                  display: flex;
                  align-items: center;
                  gap: 10px;
                }
              }
              .accordion-button {
                @include clearInput();
                width: 12px;
                height: 12px;
                position: relative;
                .horizontal {
                  @include centerAbsolute();
                  width: 12px;
                  height: 1px;
                  background-color: $black;
                }
                .vertical {
                  transition: 0.2s ease-in-out;
                  height: 12px;
                  width: 1px;
                  background-color: $black;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(90deg);
                }
                &.collapsed {
                  .vertical {
                    height: 12px;
                    width: 1px;
                    background-color: $black;
                    @include centerAbsolute();
                  }
                }
              }
              .accordion-collapse {
                width: 100%;
                padding: 16px;
                position: relative;
                .accordion-body {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  gap: 10px;
                }
              }
            }
          }
        }
        .rate-range {
          display: flex;
          flex-direction: column;
          gap: 16px;
          li {
            display: flex;
            align-items: center;
            gap: 16px;
            .stars {
              display: flex;
              gap: 4px;
              li {
                color: $LightGray;
                &.star {
                  color: $starColor;
                }
              }
            }
            span {
              color: $black;
            }
          }
        }
        .seller-level {
          display: flex;
          flex-direction: column;
          gap: 16px;
          ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
            li {
              display: flex;
              align-items: center;
              gap: 16px;
              color: $black;
            }
          }
        }
        .star-rating-service {
          display: flex;
          flex-direction: row-reverse;
          gap: 12px;
          label {
            cursor: pointer;
            color: $LightGray;
            &.active {
              color: gold;
            }
          }
          input {
            appearance: none;
            display: none;
          }
        }
      }
      .input-field {
        .form-check {
          display: flex;
          align-items: center;
          gap: 36px;
          input {
            width: 18px;
            height: 18px;
            border: 0;
            padding: 0;
          }
          input[type="radio"] {
            width: 18px;
            appearance: none;
            position: relative;
            cursor: pointer;
            border-radius: 50%;
            &::after {
              position: absolute;
              left: 50%;
              transform: translate(-50%, -50%);
              top: 50%;
              content: "";
              font-family: "Font Awesome 6 pro";
              width: 18px;
              height: 18px;
              border: 1px solid $inputHint;
              border-radius: 50%;
              font-size: 12px;
              @include centerFlex();
              color: $main;
            }
            &:checked::after {
              content: "\f00c";
              background: $main;
              color: #fff;
              border-color: $main;
            }
          }
        }
      }
    }
    aside {
      @media (max-width: 991px) {
        display: none;
        .colse {
          margin-bottom: 32px;
          display: block !important;
          cursor: pointer;
          i {
            font-size: 24px;
            color: $black;
          }
        }
        &.side-menu {
          width: 100% !important;
          display: block;
          position: fixed;
          top: 80px;
          overflow-y: scroll;
          width: 100%;
          background: $white;
          left: -100%;
          transition: $transition;
          height: calc(100dvh - 80px);
          padding: 32px 24px;
          z-index: 9999;
        }
        &.active {
          left: 0;
        }
      }
    }
  }

  .rc-slider-mark-text {
    white-space: nowrap !important;
  }

  .empty-section {
    flex: 1 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    h2 {
      margin: 0;
      text-align: center;
      text-wrap: balance;
      font-size: 36px;
      font-weight: 800;
      color: #cecece;
      line-height: 1.6;
    }
  }

  .dropdown-item {
    text-align: right !important;
  }

  .terms-condition-alert {
    flex-wrap: wrap;
    align-items: center;
    &,
    a {
      white-space: nowrap;
    }
  }

  .one-line-wrap {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-left: 16px;
  }

  .conditions-wrapper {
    position: relative;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $LightGray;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $LightGray;
    }
    .checkbox-group {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      input {
        &::after {
          width: 16px;
          height: 16px;
        }
      }
      label {
        font-size: 16px;
      }
    }
    .condition-note {
      position: relative;
      font-size: 14px;
      margin: 0;
      color: $textColor;
      line-height: 1.6;
    }
  }

  .pay_modal {
    display: flex;
    flex-direction: column;
    gap: 40px;
    .tab-content {
      position: relative;
      padding-top: 20px;
    }
    .form {
      align-items: flex-start !important;
    }
    .nav {
      background-color: $grayBackground;
      padding: 0 !important;
      border-radius: 12px !important;
      .nav-item {
        border-radius: 12px !important;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          font-size: 16px;
          color: $black;
          transition: $transition;
          &.active {
            background-color: $main;
            color: $white;
          }
          i {
            font-size: 16px;
          }
        }
      }
    }
    .cancel-btn {
      border: 1px solid $black;
      color: $black;
      width: 100%;
      outline: none;
      background: none;
      padding: 8px;
      border-radius: 8px;
    }
    .order-now {
      width: 100%;
      padding: 8px;
      background: $main;
      color: $white;
      border-radius: 8px;
      border: 0;
      outline: none;
    }
    .current_ballance {
      @include centerFlex();
      margin-bottom: 8px;
      div {
        margin: 0 !important;
      }
    }
    h3 {
      color: $black;
      font-weight: bold;
      text-align: center;
      font-size: 16px;
      span {
        font-size: 24px;
        color: $main;
      }
      i {
        color: $textColor;
      }
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }

    .btn {
      border: 1px solid $main;
      color: $main;
      @include centerFlex();
      padding: 8px 16px;
      transition: $transition;
      border-radius: 12px;
      gap: 4px;
      background: none;
      i {
        margin: 0 4px;
      }
      &:hover {
        background: $main;
        color: #fff;
      }
    }
  }

  .bank-transfer-box {
    width: 100%;
    input {
      display: none;
      &:checked + label {
        border-color: $main;
        background-color: #4381f81a;
      }
    }
    label {
      background-color: $grayBackground;
      border: 2px solid $grayBackground;
      width: 100%;
      padding: 16px;
      border-radius: 12px;
      display: flex;
      gap: 24px;
      position: relative;
      cursor: pointer;
      transition: $transition;
    }
    .image-wrapper {
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      i {
        font-size: 36px;
      }
    }
    .info-wrapper {
      flex: 1 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      position: relative;
      h5 {
        margin: 0;
      }
      .info-boxes-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 24px;
        .info-box {
          display: flex;
          align-items: center;
          gap: 4px;
          position: relative;
          font-size: 14px;
          margin: 0;
          color: $textColor;
          i {
            font-size: 12px;
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $textColor;
          }
        }
      }
    }
    .commision-box {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      gap: 8px;

      color: $main;
      line-height: 1;
      font-weight: 600;
      font-size: 16px;

      span {
        font-weight: 400;
        color: $black;
      }
    }
  }

  .skeleton-item {
    flex: 1;
    height: 100%;
    border-radius: 12px;
    min-height: 120px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;

    @keyframes loading {
      0% {
        background-position: 200% 0;
      }
      100% {
        background-position: -200% 0;
      }
    }
  }

  .skeleton-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: nowrap;
    position: relative;
    transition: $transition;
  }

  .bank-acc-card {
    background-color: $grayBackground;
    border: 2px solid $grayBackground;
    width: 100%;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    gap: 24px;
    position: relative;
    cursor: pointer;
    transition: $transition;
    .image-wrapper {
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        object-fit: contain;
      }
      i {
        font-size: 36px;
      }
    }
    .info-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      position: relative;
      flex: 1 0;
      h5 {
        margin: 0;
      }
      .info-boxes-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        flex-wrap: wrap;
        gap: 0 24px;
        .info-box {
          display: flex;
          align-items: center;
          gap: 4px;
          position: relative;
          font-size: 14px;
          margin: 0;
          color: $textColor;
          i {
            font-size: 12px;
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $textColor;
          }
        }
      }
    }
    .icons {
      position: absolute;
      top: 12px;
      left: 12px;
      display: flex;
      gap: 8px;
      button {
        @include clearInput();
        background: $inputHint;
        border-radius: 50%;
        color: $white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        height: 36px;
        width: 36px;
        svg {
          height: 16px;
          width: 16px;
        }
        &:nth-child(2) {
          background: red;
        }
      }
    }
  }

  .categoryName {
    color: $main;
  }

  .faqs-accordin {
    padding: 60px 0;
  }

  .notifications_section {
    padding: 60px 0;
    .notify {
      padding: 16px;
      background: $inputBg;
      border-radius: 12px;
      @include space-between();
      .notify_info {
        gap: 12px;
        display: flex;
        align-items: center;
        .img {
          min-width: 60px;
          max-width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content {
          h6 {
            font-size: 12px;
            color: $textColor;
          }
          p {
            margin-top: 4px;
            color: $black;
            font-size: 12px;
            line-height: 20px;
          }
        }
      }
      .date_time {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        span {
          white-space: nowrap;
          color: $textColor;
          font-size: 12px;
          line-height: 20px;
        }
      }
    }
  }

  .smallLoader {
    @include centerFlex();
    color: $main;
  }

  .pagination_component {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
    justify-content: center;
    img {
      opacity: 50%;
      transition: opacity 0.2s;
    }
    button:hover {
      img {
        opacity: 100%;
      }
    }
    button.disabled:hover {
      img {
        opacity: 50%;
      }
      cursor: default;
    }
    .reverse {
      img {
        transform: rotate(180deg);
      }
    }
    p {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      span {
        color: $black;
        font-weight: 600;
      }
    }
  }

  .numbers {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    button {
      background: transparent;
      border: none;
      border-radius: 12px;
      width: 42px;
      height: 42px;
      font-size: 15px;
      color: $black;
      font-weight: 500;
      transition: 0.3s;
      color: $textColor;
      &:hover {
        background: $main30;
      }
      &.active {
        background: $main;
        color: $white;
      }
    }
  }
  .paginator_btns {
    display: flex;
    align-items: center;
    &.rotate {
      button {
        transform: rotate(180deg);
      }
    }
    button {
      background: transparent;
      border: none;
      width: 32px;
      height: 32px;
      border-radius: 12px;
      @include centerFlex();
      cursor: pointer;
      i {
        color: $textColor;
        font-size: 18px;
      }
      &.disabled {
        opacity: 50%;
        pointer-events: none;
      }
      &:hover {
        background: $main30;
        i {
          color: $black;
        }
      }
    }
  }

  .recipe-image {
    padding: 16px;
    border: 1px solid $LightGray;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    input {
      display: none !important;
    }
    @include centerFlex();
    img {
      height: 60px !important;
      object-fit: contain;
    }
    button {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      position: absolute;
      top: 8px;
      left: 8px;
    }
  }

  .label-with-hint {
    flex-direction: column;
    align-items: flex-start !important;
    flex-wrap: wrap;
    max-width: 100%;

    span {
      white-space: unset !important;
      text-wrap: balance !important;
    }
  }

  input[type="radio"] {
    width: 8px;
    cursor: pointer;
    appearance: none;
    position: relative;
    &::before {
      content: none !important;
    }
    &::after {
      content: "";
      @include centerAbsolute();
      border-radius: 50%;
      width: 18px !important;
      height: 18px !important;
      border: 1px solid $inputHint;
    }
    &::before {
      content: "";
      @include centerAbsolute();
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: $black;
      display: none;
    }
    &:checked {
      &::after {
        border-color: $black;
      }
      &::before {
        display: block;
      }
    }
  }

  input[type="radio"] {
    width: 18px;
    appearance: none;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent !important;
    &::after {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      content: "";
      font-family: "Font Awesome 6 pro";
      width: 18px;
      height: 18px;
      border: 1px solid $inputHint;
      border-radius: 50%;
      font-size: 12px;
      @include centerFlex();
      color: $main;
    }
    &:checked::after {
      content: "\f00c";
      background: $main;
      color: #fff;
      border-color: $main;
    }
  }

  .replay-card {
    width: 100%;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 12px;
    position: relative;
    border: 1px solid $LightGray;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &.replay-to {
      width: 100%;
      padding: 16px;
      border-radius: 66px 66px 0 0;
      position: relative;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-right: 26px;
    }

    .close-btn {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      padding: 8px;
      position: absolute;
      top: 26px;
      left: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2509803922);
      cursor: pointer;
      i {
        font-size: 18px;
        color: $textSecondaryColor;
      }
    }
    .info-wrapper {
      width: 100%;
      display: flex;
      gap: 16px;
      position: relative;
      align-items: flex-start;
      .info-rate-wrapper {
        flex: 1 0;
        display: flex;
        gap: 8px;
        position: relative;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .image-wrapper {
        width: 56px;
        height: 56px;
        display: flex;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .user-info {
        display: flex;
        flex-direction: column;
        position: relative;
        .name {
          color: $black;
          font-size: 16px;
          position: relative;
          margin: 0;
        }
        .time {
          display: flex;
          font-size: 14px;
          color: #00000099;
        }
      }
      .dropdown-toggle {
        background-color: transparent !important;
        border: none !important;
        position: relative;
        width: 24px;
        height: 24px;
        padding: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        i {
          color: $black !important;
          font-size: 20px;
        }
      }
      .dropdown-menu {
        padding: 0 !important;
        a,
        span {
          width: 100% !important;
          display: flex;
          padding: 8px 16px;
          color: $black !important;
          position: relative;
          transition: $transition;
          &:hover {
            color: $main !important;
          }
        }
      }
      .rate {
        display: flex;
        align-items: center;
        gap: 16px;
        position: relative;
      }
    }
    .comment {
      font-size: 16px;
      color: $black;
      margin: 0;
      padding-right: 72px;
    }
  }

  &.en {
    direction: ltr;
    // font-family: "Poppins", sans-serif;
    // header nav .container .left_utils .dropdown .dropdown-menu {
    // transform: translate3d(0px, 50px, 0px) !important;
    // }
    main
      .order-details-page
      .order-details-wrapper
      .status-progress
      .progress-box
      .status {
      left: unset;
      right: 0;
    }
    .itemDetails .btns-wrapper {
      left: unset !important;
      right: 0 !important;
    }
    .bank-acc-card {
      .icons {
        left: unset !important;
        right: 12px !important;
      }
    }
    .phone-field {
      .col-12 {
        flex-direction: row-reverse !important;
      }
    }
    .topHead .viewAll {
      white-space: nowrap;
      img {
        transform: scale(-1);
      }
    }
    .swiperControl .swiperBtns {
      flex-direction: row-reverse;
    }
    header nav .container .navigation_links {
      right: initial;
      left: -100%;
      &.show {
        left: 0;
      }
    }
    main .auth-form input,
    select,
    textarea {
      direction: ltr !important;
    }
    .form .input-field input,
    select,
    textarea {
      direction: ltr !important;
    }
    .search-section .filter-wrap .input-field .form-check {
      gap: 10px;
    }
    main .auth-form .pass-group {
      input {
        border-radius: 12px 0 0 12px !important;
        border-left: 1px solid $LightGray !important;
        border-right: 0 !important;
      }
      span {
        border-radius: 0 12px 12px 0 !important;
        border-right: 1px solid $LightGray !important;
        border-left: 0 !important;
      }
    }
    .one-line-wrap {
      padding-left: 0 !important;
      padding-right: 16px !important;
    }
    main .item .actions-wrapper {
      right: 16px !important;
      left: initial !important;
    }
    main .activity-card.ad-mini-card .card-header .action-boxes {
      left: initial !important;
      right: 0 !important;
    }
    main .fav-ad-card .card-header .action-boxes {
      left: initial !important;
      right: 0 !important;
    }
    main .profile .userInfo .top-wrapper .user-avatar-wrapper .verified-badge {
      left: initial !important;
      right: 2px;
    }
    main .add-advertisment .form .btns .wizard_btn {
      i {
        transform: scale(-1);
      }
    }
    main .contact_section form .form-group .inputfield label {
      left: 16px;
      right: initial;
    }
    footer .logo {
      object-position: left;

      @media screen and (max-width: 768px) {
        object-position: center;
      }
    }
  }
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: unset;
  width: min(100%, 1320px);
}
.accordion-button {
  &,
  &:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  &::after {
    flex-grow: 1 !important;
    display: flex !important;
    align-items: center !important;

    justify-content: flex-start !important;
    transform: none !important;
  }
}

.swiper {
  width: 100%;
}

.no-rewards {
  background-color: #f7e9c1;
  border-radius: 12px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 12px;
}
.dropdown-toggle {
  background-color: transparent !important;
  border: none !important;
  position: relative;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  i {
    color: $black !important;
  }
}
