@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Din";
  src: url("../webfonts/din-next-lt-w23-regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  line-height: 28px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Din", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 8px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input[type=tel] {
  direction: ltr !important;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}
input[type=number]::-webkit-outer-spin-button {
  display: none;
}

hr {
  margin: 0.5rem 0;
}

@keyframes loading {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120px);
  }
}
.tooltip {
  --bs-tooltip-bg: #242424;
}
.tooltip .tooltip-inner {
  font-size: 10px;
  padding: 8px 16px !important;
  line-height: 20px;
}

.stars {
  display: flex;
  gap: 4px;
}
.stars li {
  color: #d9d9d9;
}
.stars li.star {
  color: #ffd500;
}
.stars img {
  height: 16px !important;
}

input[type=checkbox] {
  width: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  cursor: pointer;
}
input[type=checkbox]::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  content: "";
  font-family: "Font Awesome 6 pro";
  width: 18px;
  height: 18px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4381f8;
}
input[type=checkbox]:checked::after {
  content: "\f00c";
  background: #4381f8;
  color: #fff;
  border-color: #4381f8;
}

.Toastify__toast-body {
  direction: ltr !important;
}

.Toastify__toast-body > div:last-child {
  line-height: 24px;
  flex: unset;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    right: 0;
    left: initial;
  }
}
.tableLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tableLoader .loader--style8 {
  width: 80px;
  height: 80px;
}
.tableLoader svg path,
.tableLoader svg rect {
  fill: #4381f8;
}

.loader {
  width: 100%;
  height: 100dvh;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.loader img {
  height: 70px;
}
.loader span {
  width: 120px;
  height: 2px;
  background: #fafafa;
  position: relative;
  overflow: hidden;
}
.loader span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  background: #4381f8;
  height: 100%;
  animation: loading 0.5s linear infinite alternate;
}

.modal-header {
  border-bottom: 0;
}
.modal-header .modal-title {
  font-size: 14px;
}
.modal-header .btn-close {
  box-shadow: none !important;
  background-image: url("../images/close.svg");
  margin-left: 0;
  margin-right: auto;
}

.form-switch .form-check-input {
  box-shadow: none !important;
}
.form-switch .form-check-input::after {
  content: none !important;
}
.form-switch .form-check-input:checked {
  background-color: #4381f8;
  border-color: #4381f8;
}

.form-control {
  box-shadow: none !important;
}

.loader {
  width: 100%;
  height: 100dvh;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.loader img {
  height: 100px;
}
.loader span {
  width: 120px;
  height: 2px;
  background: #fafafa;
  position: relative;
  overflow: hidden;
}
.loader span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  background: linear-gradient(238.2deg, #d785f1 0%, #4381f8 100%);
  height: 100%;
  animation: loading 0.5s linear infinite alternate;
}

body {
  overflow-x: hidden;
  direction: rtl;
  /*-------- header -------- */
}
body.en {
  direction: ltr;
}
body header {
  width: 100%;
  z-index: 9;
  display: flex;
  position: relative;
  flex-direction: column;
}
body header .header_bar {
  height: 50px;
  width: 100%;
  background: #4381f8;
}
body header .header_bar .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header .header_bar .container .social {
  width: 20%;
  height: 100%;
}
body header .header_bar .container .social ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  height: 100%;
}
body header .header_bar .container .social ul li {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transition: all 0.2s ease-in-out;
}
body header .header_bar .container .social ul li:hover {
  background: #fff;
}
body header .header_bar .container .social ul li:hover a {
  color: #4381f8;
}
body header .header_bar .container .social ul li a {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
body header .header_bar .container .language {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}
body header .header_bar .container .language button {
  border: none;
  background: none;
  outline: none;
  display: flex;
  gap: 4px;
  color: #fff;
  font-size: 14px;
  align-items: center;
}
body header .header_bar .container .language button i {
  font-size: 18px;
}
body header nav {
  display: flex;
  height: 80px;
}
body header nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
  flex: 2;
}
body header nav .logo img {
  height: 70px;
}
body header nav .navigation_links {
  flex: 3;
  display: flex;
  height: 100%;
}
body header nav .navigation_links li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav .navigation_links li a {
  color: #4381f8;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
}
body header nav .navigation_links li a.active {
  color: #d785f1;
}
body header nav .navigation_links li a:hover {
  color: #d785f1;
}
@media (max-width: 992px) {
  body header nav .navigation_links {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50%;
    background: #fff;
    right: -50%;
    padding: 40px 0;
    transition: all 0.2s ease-in-out;
  }
  body header nav .navigation_links ul {
    flex-direction: column;
  }
  body header nav .navigation_links ul li {
    max-height: 60px;
  }
  body header nav .navigation_links.show {
    right: 0;
  }
}
body header nav .left_utils {
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}
body header nav .left_utils button {
  border: none;
  background: none;
  outline: none;
  color: #4381f8;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
body header nav .left_utils button:hover {
  color: #d785f1;
}
body header nav .left_utils a {
  color: #4381f8;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
body header nav .left_utils a:hover {
  color: #d785f1;
}
body header nav .left_utils .dropdown {
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
}
body header nav .left_utils .dropdown a {
  box-shadow: none !important;
}
body header nav .left_utils .dropdown .user {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;
}
body header nav .left_utils .dropdown .user img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}
body header nav .left_utils .dropdown .dropdown-menu {
  transform: translate3d(-70px, 50px, 0px) !important;
  padding: 0;
  overflow: hidden;
  border: 0;
}
body header nav .left_utils .dropdown .dropdown-menu a {
  font-size: 12px;
}
body header nav .left_utils .cart_open {
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 10px;
}
body header nav .left_utils .cart_open i {
  font-size: 18px;
}
body header nav .left_utils .cart_open span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  line-height: normal;
  background: #d785f1;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  height: 16px;
  width: 16px;
  left: 8px;
}
body header nav .left_utils h6 {
  font-size: 12px;
  color: #d785f1;
  line-height: 24px;
  margin: 0;
}
body header nav .left_utils .toggler {
  display: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
}
body header nav .left_utils .toggler span {
  width: 25px;
  height: 2px;
  background: #4381f8;
  display: block;
  transition: all 0.25s ease-in-out;
}
body header nav .left_utils .toggler span:nth-child(1) {
  width: 25px;
}
body header nav .left_utils .toggler span:nth-child(2) {
  width: 19px;
}
body header nav .left_utils .toggler span:nth-child(3) {
  width: 13px;
}
@media (max-width: 992px) {
  body header nav .left_utils .toggler {
    display: flex;
  }
}
body header nav .left_utils .toggler.close span:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 15% 90%;
}
body header nav .left_utils .toggler.close span:nth-child(2) {
  opacity: 0;
}
body header nav .left_utils .toggler.close span:nth-child(3) {
  transform-origin: 10% 10%;
  transform: rotate(-45deg);
  width: 25px;
}
@media (max-width: 768px) {
  body header nav .left_utils {
    gap: 20px;
  }
}
@media (max-width: 576px) {
  body header nav .left_utils {
    gap: 12px;
  }
}
body main {
  padding: 40px 0 80px;
  position: relative;
}
body main .auth-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
body main .auth-form .form-header-image {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
body main .auth-form .form-header-image img {
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
body main .auth-form .form-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
body main .auth-form .form-title .title {
  margin: 0;
  font-size: 32px;
  color: #333;
  font-weight: 600;
}
@media (max-width: 576px) {
  body main .auth-form .form-title .title {
    font-size: 24px;
  }
}
body main .auth-form form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body main .auth-form .input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  gap: 8px;
}
body main .auth-form .phone-group {
  width: 100%;
  position: relative;
  display: flex;
}
body main .auth-form .phone-group .PhoneInput {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: row-reverse;
}
body main .auth-form .phone-group .PhoneInput .PhoneInputCountryIcon {
  position: relative;
}
body main .auth-form .phone-group .PhoneInput .PhoneInputCountryIconImg {
  width: 20px;
  position: absolute;
  top: -36px;
  left: 10px;
}
body main .auth-form .phone-group .PhoneInput select {
  padding: 12px 6px 12px 30px !important;
  direction: ltr !important;
}
body main .auth-form .phone-group .PhoneInput input,
body main .auth-form .phone-group .PhoneInput select {
  flex: 1 0;
  color: #000;
  font-size: 14px;
  height: 56px;
  width: 100%;
  box-shadow: none !important;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  outline: none;
  padding: 8px 12px;
}
body main .auth-form .phone-group .phone-code {
  height: 54px;
  border-radius: 4px;
}
body main .auth-form .pass-group {
  display: flex;
}
body main .auth-form .pass-group span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 56px;
  border: 1px solid #d9d9d9;
  background: var(--input-bg);
  border-right: 0;
  border-radius: 12px 0 0 12px !important;
  color: #777777;
}
body main .auth-form .pass-group input {
  border-left: 0 !important;
  border-radius: 0 12px 12px 0 !important;
}
body main .auth-form .image-change-wrapper {
  border-radius: 16px;
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
}
body main .auth-form .image-change-wrapper .img-wrap {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #aaaaaa;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .auth-form .image-change-wrapper .img-wrap img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .auth-form .image-change-wrapper .upload input {
  display: none;
}
body main .auth-form .image-change-wrapper .upload .plus {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #4381f8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body main .auth-form .image-change-wrapper .upload .plus i {
  font-size: 14px;
  color: #fff;
}
body main .auth-form .forgetpass {
  align-self: flex-end;
  color: #4381f8;
}
body main .auth-form .otp-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  direction: ltr !important;
}
@media (max-width: 576px) {
  body main .auth-form .otp-container {
    gap: 8px;
  }
}
body main .auth-form .otp-container .otp-input {
  border-radius: 12px;
  flex: 1;
  width: inherit;
  height: 80px !important;
  text-align: center;
  border: 1px solid #4381f8;
  background: rgba(67, 129, 248, 0.1019607843);
  font-size: 28px;
  font-weight: 600;
  color: #4381f8 !important;
  outline: none;
}
body main .auth-form .otp-container .otp-input::-webkit-inner-spin-button {
  display: none;
}
@media (max-width: 576px) {
  body main .auth-form .otp-container .otp-input {
    height: 60px !important;
  }
}
body main .auth-form .resend-code {
  width: 100%;
  display: flex;
  padding: 10px 0 0;
  justify-content: space-between;
}
body main .auth-form .resend-code .resend_link {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: #777777;
  gap: 6px;
  cursor: pointer;
}
body main .auth-form .resend-code .resend_link span {
  white-space: nowrap;
  color: #4381f8;
  cursor: pointer;
}
body main .auth-form .resend-code .resend_link.disabled {
  pointer-events: none;
}
body main .auth-form .resend-code .resend_link.disabled span {
  color: rgba(67, 129, 248, 0.6039215686);
  cursor: default;
}
body main .auth-form .resend-code .timer span {
  color: #777777;
}
body main .auth-form .noAccount {
  color: #777777;
}
body main .auth-form .noAccount span {
  color: #4381f8;
}
body main .auth-form .question {
  padding: 0 0 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main .auth-form .question .quest {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--black-color);
}
body main .auth-form .question .vendorInput {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  position: relative;
  cursor: pointer;
}
body main .auth-form .question .vendorInput::after {
  display: block;
  width: 48px;
  height: 24px;
  border-radius: 16px;
  content: "";
  background-color: var(--text-color);
  transition: all 0.2s ease-in-out;
}
body main .auth-form .question .vendorInput::before {
  transition: all 0.2s ease-in-out;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 4px;
  content: "";
  background-color: #fff;
}
body main .auth-form .question .vendorInput:checked::after {
  background-color: #4381f8;
}
body main .auth-form .question .vendorInput:checked::before {
  right: initial;
  left: 4px;
}
body .cutom-btn {
  width: 100%;
  height: 56px;
  gap: 6px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  background: linear-gradient(238.2deg, #d785f1 0%, #4381f8 100%);
  transition: all 0.2s ease-in-out;
}
body .cutom-btn.disabled {
  opacity: 0.7;
  pointer-events: none;
}
body .cutom-btn.stroke {
  background: transparent !important;
  border: 1px solid #4381f8;
  color: #4381f8;
}

.terms-condition-alert {
  flex-wrap: wrap;
  align-items: center;
}
.terms-condition-alert,
.terms-condition-alert a {
  white-space: nowrap;
}/*# sourceMappingURL=style.css.map */